<h2>New Information about your favorite celebrity {{name}}?</h2>

<form action="/celebrities/{{_id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value= {{name}}>

  <label for="">Occupation:</label>
  <input type="text" name="occupation" value= {{occupation}}>

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value= {{catchPhrase}}>

  <button type="submit">SAVE</button>

</form>