<h2>Edit {{name}}</h2>
<form action="/celebrities/{{id}}" method="POST">
  <label for="name"> Name
    <input type="text" name="name" id="name" value="{{name}}">
  </label>

  <label for="occupation"> Occupation
    <input type="text" name="occupation" id="occupation" value="{{occupation}}">
  </label>

  <label for="catchPhrase"> catchPhrase
    <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
  </label>

  <button type="submit">Edit</button>
</form>