<section class="formulario">
    <div class="container">
        <h2>{{name}}: Edition</h2>
        <hr>
        <form action="/celebrities/{{id}}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Type a name"
                    value="{{name}}">
                <label for="occupation">Occupation</label>
                <input type="text" class="form-control" name="occupation" id="occupation"
                    placeholder="What does he/she do?" value="{{occupation}}">
                <label for="catchPhrase">CatchPhrase</label>
                <textarea class="form-control" name="catchPhrase" id="catchPhrase" cols="30" rows="10"
                    placeholder="Enter a great quote!">{{catchPhrase}}</textarea>
                <div>
                    <button class="btn btn-primary btn-sm" type="submit">Finish edition!</button>
                    <a href="/celebrities" class="btn btn-primary btn-sm">Go back</a>
                </div>
            </div>
        </form>
    </div>
</section>