<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit a Celebrity</title>
  </head>
  <body>
    <h1> Edit a Celebrity </h1>
    <h2>Celebrity Details</h2>

    <ul>
      <li><h2> <%= celebrity.name %> </h2></li>
      <li><p><%= celebrity.occupation %> </p></li>
      <li><p><%= celebrity.catchPhrase %></p></li>
    </ul>
    <a href="/celebrities/"> Got Back </a>

    <form action="/celebrities/<%= celebrity._id %>" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= celebrity.name %>">

      <label for="occupation">Occupation</label>
      <input type="text" name="occupation" id="occupation" value="<%= celebrity.occupation %>">

      <label for="catchPhrase">Catch Phrase</label>
      <textarea type="text" name="catchPhrase" id="catchPhrase"><%= celebrity.catchPhrase %></textarea>

      <button type="submit">Update Celebrity</button>
    </form>

  </body>
</html>
