<!DOCTYPE html>
<html>
  <head>
    <title> Celebrities </title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <h1> Update Your Celebrity </h1>
  <div class="container">

    <form class="user-input" action="/celebrities/<%= celebrity._id %>" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= celebrity.name %>">

      <label for="ocupation">Ocupation</label>
      <input type="text" name="ocupation" id="ocupation" value="<%= celebrity.ocupation %>">

      <label for="imageUrl">Image URL</label>
      <input type="text" name="imageUrl" id="imageUrl" value="<%= celebrity.imageUrl %>">

      <label for="catchPhrase">Catch Phrase</label>
      <input type="text" name="catchPhrase" id="catchPhrase" value="<%= celebrity.catchPhrase %>">

      <button class="create-btn" type="submit">Update Celebrity</button>
    </form>
  </div>

  </body>
</html>
