<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h2>{{this.title}}</h2>

            <form method="POST" action="/celebrities/{{this.id}}/edit">
            
                <div class="form-group">
                    <label>Nombre del famoso</label>
                    <input type="text" class="form-control" name="name" value="{{name}}">
                </div>
                <div class="form-group">
                    <label>Ocupación</nav></label>
                    <input type="text" class="form-control" name="occupation"value="{{occupation}}">
                </div>
                <div class="form-group">
                    <label>Frase celebre</label>
                    <input type="text" class="form-control" name="catchPhrase" value="{{catchPhrase}}">
                </div>
                <button class="btn btn-dark" type="submit">Editar</button>
                {{!-- <button type="submit" class="btn btn-dark">Crear nuevo libro</button> --}}
            </form>

        </div>
    </div>



</div>