<h1>EDIT {{celeb.name}}</h1>


<form action="/celebrities/update/{{celeb.id}}" method="POST">
<label for="name">Name</label>
<input type="text" name="name" value={{celeb.name}}>
<label for="image">Image</label>
<input type="text" name="image">
<label for="occupation">Occupation</label>
<input type="text" name="occupation" value={{celeb.occupation}}>
<label for="catchPhrase">Catch Phrase</label>
<input type="text" name="catchPhrase" value={{celeb.catchPhrase}}>
<button>Add</button>
</form>