<h2> List of celebrities - <a href="/">Return to index</a></h2>  
<a href="/celebrities/new">Add a celebrity</a>

<ul>
    {{#each celebrities}}
    <li>
        <h2>{{name}}</h2>
        <p>{{occupation}}</p>
        <p>{{catchPhrase}}</p>
        <a href="/celebrities/{{_id}}">See more details</a>
        <a href="/celebrities/edit/{{_id}}">Edit celebrity</a>
        <a href="/celebrities/delete/{{_id}}">Delete celebryity</a>
    </li>
    {{/each}}
</ul>