<main class="container">
<h3>{{subtitle}}</h3>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th>Famous Quote</th>
        </tr>
    </thead>
    {{#each celebs}}
    <tr>
        <td><a href="../celebrities/{{_id}}">{{name}}</a> </td>
        <td>{{occupation}}</td>
        <td>{{catchphrase}}</td>
        <td>
            <form action="/celebrities/{{id}}/delete" method="post">
            <button href="" class="btn bg-danger">Delete</button>
            </form>
        </td>
                <td>
            <form action="/celebrities/{{id}}/edit" method="get">
            <button href="" class="btn bg-success"> Edit </button>
            </form>
        </td>
    </tr>
    {{/each}}

</table>



</main>