{{!-- <h1>Ficha personal de {{name}}</h1>



<h2>Nombre:</h2> <p></p>
<h2>Profesión:</h2> <p>{{ocupation}}</p>
<h2>Cita:</h2> <p>{{catchPhrase}}</p> --}}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{name}}</h1>
    <p class="lead">{{ocupation}}</p>
    <p class="lead"><i>{{catchPhrase}}</i></p>
  </div>
</div>