<main class="container">
<h3>{{subtitle}}</h3>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{occupation}}</h6>
    <p class="card-text">{{catchphrase}}</p>
    <a href="#" class="card-link">Edit</a>
    <form action="../celebrities/{{id}}/delete" method="post">
    <button href="" class="btn bg-danger">Delete</button>
    </form>
    <form action="../celebrities/{{id}}/edit" method="get">
    <button href="" class="btn bg-success"> Edit </button>
    </form>
  </div>
</div>


</main>