<h2>Celebrity Details</h2>
<h3>{{celebrity.name}}</h3>
<p>{{celebrity.occupation}}</p>

<blockquote class="blockquote">
  <p class="mb-0">{{celebrity.catchPhrase}}</p>
</blockquote>
<table class="table">
  <tr>
    <th scope="col">Filmography</th>
  </tr>
  </thead>
  <tbody>
    {{#each celebrity.movies}}
    <tr>
      <td>
        <a href="/movies/details/{{this._id}}">
          <h3>{{this.title}}</h3>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p>Created By: {{celebrity.createdBy.username}}</p>
<br>
<br>
<br>
{{#if celebrity.createdByMe}}
<a href="/celebrities/{{celebrity._id}}/edit"><button class="btn btn-lg btn-primary">Edit Celeb</button></a>
<form action="/celebrities/{{celebrity._id}}/delete" method="POST"><button class="btn btn-lg btn-secondary">Delete Celeb</button></form>
{{/if}}