<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h2>Edit {{name}}</h2>

            <form method="POST" action="/celebrities/{{_id}}/edit">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required>
                </div>
                <div class="form-group">
                    <label>Occupation</label>
                    <input type="text" class="form-control" name="occupation" value="{{occupation}}">
                </div>
                <div class="form-group">
                    <label>Catchphrase</label>
                    <input type="text" class="form-control" name="catchPhrase" value="{{catchPhrase}}">
                </div>
                <button type="submit" class="btn btn-outline-success">Save changes</button>
            </form>
        </div>
    </div>



</div>