<h1>CELEBRITY DETAILS</h1>

<p>{{celebrity.name}}</p>
<p>{{celebrity.occupation}}</p>
<p>{{celebrity.catchPhrase}}</p>

<a href="/celebrities/celebrity/{{celebrity._id}}/edit">update</a>
<a href="/celebrities/celebrity/{{celebrity._id}}/delete">delete</a>

<div>
    <a href="/celebrities">all celebrities</a>
</div>
