<h2>{{celeb.name}}</h2>

<a href="/celebrities/{{celeb.id}}/edit">Update</a>

<h3>Occupation:</h3>
<p>{{celeb.occupation}}</p>

<h3>Catchphrase:</h3>
<p>{{celeb.catchPhrase}}</p>

<form method="post" action="/celebrities/{{celeb.id}}/delete">
    <button>Delete</button>
    </form>