<h2>Celebrity Details</h2>
<p><strong>Name:</strong> {{celebrity.name}}</p>
<p><strong>Occupation:</strong>  {{celebrity.occupation}}</p>
<p><strong>Catch Phrase:</strong>  {{celebrity.catchPhrase}}</p>
<p><strong>Creator:</strong>  {{celebrity.creator.username}}</p>

<form action="/celebrities/{{celebrity._id}}/delete" method="POST">
    <button type="submit">Delete Celebrity</button>
</form>

<form action="/celebrities/{{celebrity._id}}/edit" method="GET">
    <button type="submit">Edit Celebrity</button>
</form>
