<h1>{{celebrity.name}} details</h1>
<a href="/celebrities">Back To elebrity List</a>
<hr>
<ul>
  <li><strong>Name:</strong> {{ celebrity.name }}</li>
  <li><strong>Occupation:</strong> {{ celebrity.occupation }}</li>
  <li><strong>Catch Phrase:</strong> {{ celebrity.catchPhrase }}</li>
</ul>
<form action="/celebrities/{{celebrity._id}}/delete" method="POST">
  <button type="submit" class="delete-button">Remove celebrity</button>
</form>