<h2>Celebrity Details</h2>
<h2>Name:</h2>
<p id="current-name">{{celebrity.name}}</p>
<h2>Occupation:</h2>
<p id="current-occupation">{{celebrity.occupation}}</p>
<h2>Catchphrase:</h2>
<p id="current-catchphrase">{{celebrity.catchPhrase}}</p>
<p><strong>Creator:</strong>  {{celebrity.creator.username}}</p>

<div>
    <h3>Edit {{celebrity.name}}</h3>
    <form id="edit-form">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value={{celebrity.name}}>
        </div>
        <div>
            <label for="occupation">Occupation</label>
            <input type="text" name="occupation" id="occupation" value={{celebrity.occupation}}>
        </div>
        <div>
            <label for="catchPhrase">Catchphrase</label>
            <input type="text" name="catchPhrase" id="catchPhrase" value="{{celebrity.catchPhrase}}">
        </div>
        <input type="hidden" value={{celebrity._id}} id="secret">
    </form>
</div>


<script src="/javascripts/celeb-edit.js"></script>
