<h2>Welcome to the index of Celebrities</h2>
<ul>
{{#each celebs}}
  <li>{{name}}</li>
  <li>{{occupation}}</li>
  <li>{{catchPhrase}}</li>
  <li><img src="{{image}}"></li>
  <a href="/show-celeb/{{_id}}">Read more about this celeb</a>

 {{#if theUser}}
<form action="/delete-celeb/{{_id}}" method="POST">
    <button>Delete this Celeb</button>
</form>

<a href="/edit-celeb/{{_id}}">Edit This Celeb's Info</a>
  <br>

{{/if}}
{{/each}}
</ul>

{{#if theUser}}
 <a href="/new-celeb">Create a new celeb</a>
{{/if}}