<div class=" mx-4 my-2 text-center align-items-center">
<h1> Details for {{name}}: the man, the legend</h1>
  <img class="celebrities" src="{{image}}" alt="">
  <div>
    <p class="my-1 font-weight-bold">{{name}}</p>
    <p class="my-1">{{occupation}}</p>
    <p class="my-1 text-muted font-italic">{{catchPhrase}}</p>
  </div>
</div>