<h1>Editar {{name}}</h1>

<form action="/celebrities/celebrities-edit/{{_id}}" method="post">
    <label for="">name:</label>
    <input type="text" name="name" value="{{name}}"><br>

    <label for="">occupation:</label>
    <input type="text" name="occupation" value="{{occupation}}"><br>

    <label for="">catchPhrase:</label>
    <input type="text" name="catchPhrase" value="{{catchPhrase}}"><br>

    <button type="submit">UPDATE</button>
</form>