<h2>{{celebrity.name}}</h2>
<br>
<strong>{{celebrity.occupation}}</strong>
<br>
<i>{{celebrity.catchPhrase}}</i>
<br>
<a href="/celebrities/{{celebrity.id}}/update">Edit</a>
<br>
<a href="/celebrities/{{celebrity.id}}/delete">Delete</a>
<br><br>
<a href="/celebrities">Go back</a>