{{#if celebrity.isNew }}
  <form action="/celebrities/create" method="post">
{{else}}
  <form action="/celebrities/{{celebrity.id}}/edit" method="post">
{{/if}}

  <div>
    Name:<input type="text" name="name" value="{{ celebrity.name }}">
  </div>

  <div>
    Occupation:<input type="occupation" name="occupation" value="{{ celebrity.occupation }}">
  </div>

  <div>
    Phrase:<input type="catchPhrase" name="catchPhrase" value="{{ celebrity.catchPhrase }}">
  </div>

{{#if celebrity.isNew }}
  <button type="submit">Create</button>
{{else}}
  <button type="submit">Save</button>
{{/if}}
</form>