<h1 class="all">ACTOR DETAILS</h1>

<p>Name:</p>
<h2>{{theCelebrity.name}}</h2>

<p>Occupation:</p>
<h2>{{theCelebrity.occupation}}</h2>

<p>Movies:</p>

<a href="/movies/details/{{theCelebrity.movie._id}}">
<h3>{{theCelebrity.Movie.title}}</h3>
</a>


<p>Catchphrase:</p>
<h3>{{theCelebrity.catchPhrase}}</h3>

