{{> mainNav}}
{{#with celebrity}}
<h1 class="main-title">Celebrity detail</h1>
<div class="celebrity-card">
  <h2 class="celebrity-card__title">{{name}}</h2>
  <div class="celebrity-card__info">
    <p>{{occupation}}</p>
    <p>{{catchPhrase}}</p>
  </div>
  <div class="celebrity-card__actions">
    <a href="/celebrities/edit/{{_id}}" class="button button--edit">Edit</a>
    <a href="/celebrities/delete/{{_id}}" class="button button--delete">Delete</a>
  </div>
</div>
{{/with}}