<h2>Celebrity Detail</h2>
<div>
  <h3>{{name}}</h3>
  <h4>{{occupation}}</h4>
  <h4>{{catchPhrase}}</h4>
  <hr>
  <a href="/celebrities/{{_id}}/delete">Delete Celebrity | </a>
  <a href="/celebrities/{{_id}}/update">Edit Celebrity | </a>
  <a href="/celebrities">Go back to celebrities</a>
</div>