
<h1 style="padding-top: 4rem">{{celeb.name}} profile</h1>

<div class="table">
  <ul> 
    <li class="card">
      <img src={{celeb.image}} class="card-img" alt={{celeb.name}} />
      <h3 class="card-title">{{celeb.name}}</h3>
      <div class="card-info">{{celeb.occupation}}</div>
      <div class="card-footer">
        <div>{{celeb.catchPhrase}}</div>
      </div>
    </li>
  </ul>
</div>