<h2>
  Celebrity Details - 
</h2>
<h1>
  Name: {{this.name}}
</h1>

<h1>
  Job: {{this.occupation}}
</h1>

<h1>
  Saying: {{this.catchPhrase}}
</h1>

<a href="/celebrities/{{_id}}/edit">Edit This Celeb</a>
<br>
<br>
<form action="/celebrities/{{_id}}/delete" method="POST">
    <button>Delete This Celeb</button>
</form>