<div class="container">
    <h1 class="mb-5">Celebrity Details</h1>
    <div class="row">
        <div class="col-3">
            <img class="cel-photo" src="{{cel.image}}" alt="{{cel.name}}">
        </div>
        <div class="col-9">
            <a href="/celebrities">Go back</a>
            <h1 class="go-back">{{cel.name}}</h1>
            <h5> <strong>Occupation:</strong> {{cel.occupation}}</h5>
            <p>{{cel.catchPhrase}}</p>
        </div>
    </div>

</div>