<h1>Edit {{theCeleb.name}}</h1>


<form action="/celebrities/update/{{theCeleb._id}}" method="POST">

<label>Name</label>
<input name="name" type="text" value="{{theCeleb.name}}">

<label>Occupation</label>
<input name="occupation" type="text" value="{{theCeleb.occupation}}">

<label>Catch Phrase</label>
<input name="catchPhrase" type="text" value="{{theCeleb.catchPhrase}}">

<button> Save Changes</button>

</form>
