<h2>Editando {{celeb.name}}</h2>
{{#if errMsg}}
  <div class="error">{{errMsg}}</div>
{{/if}}
<form action="/celebrities/edit?celebrity_id={{celeb.id}}" method="POST">
  <label for="name">Nombre:</label>
  <input type="text" name="name" placeholder="{{celeb.name}}"><br>
  <label for="occupation">Ocupación:</label>
  <input type="text" name="occupation" placeholder="{{celeb.occupation}}"><br>
  <label for="catchPhrase">Frase:</label>
  <input type="text" name="catchPhrase" placeholder="{{celeb.catchPhrase}}"><br>
  <button type="submit">Editar</button>
</form>
<a href="/celebrities">Cancelar y volver a la lista</a>