<h2>Edit {{celebrity.name}}</h2>
<form action="/celebrities/{{celebrity._id}}" method="POST">
  <label for="">Name:</label>
  <input type="text" value="{{celebrity.name}}" name="name" required>

  <label for="">Occupation:</label>
  <input type="text" value="{{celebrity.occupation}}" name="occupation" required>

  <label for="">Catch Phrase:</label>
  <input type="text" value="{{celebrity.catchPhrase}}" name="catchPhrase" required>

  <button type="submit">Update</button>
</form>