
<h2>Edit artist info:</h2>

<form action="/celebrities/{{celebrity._id}}" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{celebrity.name}}" placeholder="{{celebrity.name}}">
    <br>
  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}" placeholder="{{celebrity.occupation}}">
    <br>
  <label for="catchPhrase">Catch Phrase</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}" placeholder="{{celebrity.catchPhrase}}">
    <br> 
  <button type="submit" name="button">Edit info</button>
  <br>
</form>

<a href="/celebrities">Back to main page -></a>