<h2>{{title}}</h2>

<form action="/edit/{{celebrity._id}}" method="post">
    <input type="text" name="name" value="{{celebrity.name}}">
    <input type="text" name="occupation" value="{{celebrity.name}}">
    <input type="text" name="catchPhrase" value="{{celebrity.name}}">
    <button type="submit">Create</button>
</form>