<h1>{{title}}</h1>
<h2>Edit celebrity:</h2>


<form action="/celebrities/{{id}}/edit" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="{{name}}">

  <br >

  <label for="ocupation">Ocupation: </label>
  <input type="text" name="ocupation" id="ocupation" value="{{ocupation}}">

  <br >

  <label for="catchPhrase">Famous quote: </label>
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">

  <br >

  <button class="btn btn-dark">Update</button>

</form>


