<h2>Edit a celebrity</h2>

<form action="/celebrities/{{celebrity._id}}" method="POST">
  <div>
    <input type="text" name="name" value="{{celebrity.name}}">
  </div>
  <div>
    <input type="text" name="occupation" value="{{celebrity.occupation}}">
  </div>
  <div>
    <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

{{#if error}}
  <div style="border:red solid 2px">{{error.message}}</div>
{{/if}}