
<h2>Edit class</h2>


<form action="/celebrities/edited/{{details._id}}" method="POST">


<p>Name</p>
<input type="text" name="theName" value="{{details.name}}">


<p>Occupationr</p>
<input type="text" name="theOccupation" value="{{details.occupation}}">


<p>Catchphrase</p>
<input type="text" name="theCatchphrase" value="{{details.catchPhrase}}">

<p>Movies</p>

<select name="theMovies">
<option value="{{this._id}}" selected disabled>Please pick one</option>

{{#each movies}}
<option value="{{this._id}}">{{this.title}}</option>
{{/each}} 

</select>

<button>Save</button>
</form>