<h2>Edit your celeb {{celeb.name}}</h2>

<form action="/celebrities/{{celeb._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{celeb.name}}">
	<br>
  <label for="">Occupation:</label>
  <input type="text" name="occupation" value="{{celeb.occupation}}">
	<br>
  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celeb.catchPhrase}}">
	<br>
  <button type="submit">CHANGE details of this CELEB (yo)</button>
</form>