<h1>{{title}}</h1>
<br>
<form action="/celebrities/{{_id}}" method="POST">
  <label for="name">Celebrity: 
  </label> 
  <input type="text" name="name" id="name" value="{{name}}">
<br>
<label for="occupation">Occupation: 
  </label> 
  <input type="text" name="occupation" id="occupation" value="{{occupation}}">
  <br>
  <label for="catchPhrase">Catch phrase: 
  </label> 
  <input type="text" name="catchPhrase" id="catchPhrase" value="{{catchPhrase}}">
<br>
<button type="submit">Save</button>
</form>