<h1>Edit {{theCelebrity.name}}</h1>

<form action="/celebrities/{{theCelebrity._id}}/update" method="POST">


  <label for="">Name:</label>
  <input type="text" name="name" value="{{theCelebrity.name}}">

  <label for="">Job:</label>
  <input type="text" name="job" value="{{theCelebrity.occupation}}">

  <label for="">Saying:</label>
  <input type="text" name="catchPhrase" value="{{theCelebrity.catchPhrase}}">

  <button type="submit">Save Changes</button>


</form>


