<div class="containerr celebEdit-container">
  <h2>Edit {{celeb.name}}</h2>
  <form method="POST" action="/celebrities/{{celeb._id}}/edit">
    <div class="">
      <label>Name</label>
      <input type="text" class="" name="name" placeholder="Angelina Jolie" value="{{celeb.name}}">
    </div>
    <div class="">
      <label>Ocuppation</label>
      <input type="text" class="" name="occupation" placeholder="Actress" value="{{celeb.occupation}}">
    </div>
    <div class="">
      <label>Phrase</label>
      <input type="text" class="" name="catchPhrase" placeholder="you can lead o take a horse to water but you can’t make it drink" value="{{celeb.catchPhrase}}">
    </div>
    <button class="btn btn-primary" type="submit">Edit celeb</button>
  </form>
</div>
