<h2>Edit {{#if savedStar}}{{savedStar.name}}{{else}}{{celebrity.name}}{{/if}}</h2>
<section class="list">
  <form action="/celebrities/{{celebrity._id}}" method="POST">
    <div class="element">
      <label for="name">Name*</label><input type="text" name="name" id="name" value="{{celebrity.name}}" {{#if errors.emptyName}}class="error" {{/if}}>
    </div>
    <div class="element">
      <label for="occupation">Occupation*</label><input type="text" name="occupation" id="occupation" value="{{celebrity.occupation}}" {{#if errors.emptyOccupation}}class="error" {{/if}}>
    </div>
    <div class="element">
      <label for="catchPhrase">Catch phrase</label><input type="text" name="catchPhrase" id="catchPhrase" value="{{celebrity.catchPhrase}}">
    </div>
    <p>{{errors.message}}</p>
    <div class="list-movies-wrap">
      <div>
        <h3>Played in</h3>
        <ul id="played">
          {{#each actorMovies}}
          <li data-id="{{this._id}}">{{this.title}}</li>
          {{/each}}
        </ul>
        <input type="hidden" name="moviesPlayed" id="moviesPlayed" value="">
      </div>
      <div>
        <h3>Other movies</h3>
        <ul id="others">
          {{#each otherMovies}}
          <li data-id="{{this._id}}">{{this.title}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{#if errors.message}}<p class="error">{{errors.message}}</p>{{/if}}
    <button>Edit</button>
  </form>
</section>