<h2>Edit Celebrity</h2>
<form method="POST" action="/celebrities/{{id}}">
    <p> <input type=" text" name="name" placeholder="{{name}}" value="{{name}}">
    </p>
    <p> <input type="text" name="occupation" placeholder="{{occupation}}" value="{{occupation}}">
    </p>
    <p> <input type="text" name="catchPhrase" placeholder="{{catchPhrase}}" value="{{catchPhrase}}">
    </p>
    <p> <input type="submit" value="done">
    </p>
    <input type="hidden" name="_id" value="{{id}}">
</form>