<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>Edit {{name}}</h1>

      <hr>

      <form method="POST" action="/celebrities/{{id}}/edit">

        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" id="name" value="{{name}}">
        </div>

        <div class=" form-group">
          <label for="occupation">Occupation</label>
          <input name="occupation" type="text" class="form-control" id="occupation" value="{{occupation}}">
        </div>

        <div class="form-group">
          <label for="catchPhrase">Catch Phrase</label>
          <input name="catchPhrase" type="text" class="form-control" id="catchPhrase" value="{{catchPhrase}}">
        </div>



        <button type="submit" class="btn btn-dark">Save Edit</button>
        <a href="/celebrities" class="btn btn-outline-dark">Go back</a>
      </form>

    </div>
  </div>


</div>