<h2>Editing celebrity</h2>

<form action='/celebrities/{{this.updateCeleb._id}}' method='POST'>

  <label for=''>name</label>
  <input type='text' name='name' value="{{this.updateCeleb.name}}">
  
  <label for=''>occupation</label>
  <input type='text' name='occupation' value="{{this.updateCeleb.occupation}}">

  <label for=''>catchPhrase</label>
  <input type='text' name='catchPhrase' value="{{this.updateCeleb.catchPhrase}}">

  <button type='submit'>Update {{this.updateCeleb.name}}!</button>
</form>

