<h2>Edit {{#if savedStar}}{{savedStar.name}}{{else}}{{celebrity.name}}{{/if}}</h2>
<form action="/celebrities/{{celebrity._id}}" method="POST">
  <div class="element">
    <label for="name">Name *</label><input type="text" name="name" id="name" value="{{celebrity.name}}" {{#if errors.emptyName}}class="error" {{/if}}>
  </div>
  <div class="element">
    <label for="occupation">Occupation *</label><input type="text" name="occupation" id="occupation" value="{{celebrity.occupation}}" {{#if errors.emptyOccupation}}class="error" {{/if}}>
  </div>
  <div class="element">
    <label for="catchPhrase">Catch phrase</label><input type="text" name="catchPhrase" id="catchPhrase" value="{{celebrity.catchPhrase}}">
  </div>
  <p>{{errors.message}}</p>
  <button>Edit</button>
</form>