{{!-- <p class="text-center"> Edit details of {{whatever.name}}</p>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">

      <form action="/celebrities/{{whatever._id}}" method="post">
        <label for="">Name:</label>
        <input class="form-control" type="text" name="name" value="{{whatever.name}}">

    </div>
  </div>
  <div class="form-group">
    <label for="">Occupation:</label>
    <input class="form-control" type="text" name="occupation" value="{{whatever.occupation}}">
  </div>
  <div class="form-group">
    <label for="">Catch Phrase:</label>
    <input class="form-control" type="text" name="catchPhrase" value="{{whatever.catchPhrase}}">
  </div>

  <button type=" submit">SUBMIT</button>
</form> --}}

<h1>Edit {{this.name}}'s details</h1>
<form action="/celebrities/{{this._id}}" method="post">
  <input type="text" name="name" value="{{this.name}}">
  <input type=" text" name="occupation" value="{{this.occupation}}">
  <input type=" text" name="catchPhrase" value="{{this.catchPhrase}}">
  <button type=" submit">SUBMIT</button>
</form>