<h2>Edit a Celebrity named : {{celebrity.name}}</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center py-5">Update a Celebrity</h2>
        <form action="/celebrities/{{celebrity._id}}/edit" method="post">
          <div class="form-group">
            <label for="name-input">Name:</label>
            <input type="text" class="form-control" name="name" value="{{celebrity.name}}">
            <small id="emailHelp" class="form-text text-muted">Put the new name of the Celebriy</small>
          </div>
          <div class="form-group">
            <label for="occupation-input">Occupation:</label>
            <input type="text" class="form-control" name="occupation" value="{{celebrity.occupation}}">
          </div>
          <div class="form-group">
            <label for="catchPhrase-input">Quote</label>
            <input type="text" class="form-control" name="catchPhrase" value="{{celebrity.catchPhrase}}">
          </div>
          
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
  </div>

</div>