<h2>Edit {{celebrity.name}}</h2>

<form action="/celebrities/{{celebrity.id}}" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{celebrity.name}}">

    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" value="{{celebrity.occupation}}">

    <label for="catchPhrase">Favourite Spell</label>
    <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">

    <button type="submit">Submit</button>
</form>