
<h2>MODIFY CELEBRITY</h2>
<div>
  {{#if msg }}
  <h3>{{msg}}</h3>
  {{else}}
  <h3>Error creating celebrity, try another time</h3>
  {{/if}}
</div>
<div>
  <form action="/celebrities/{{_id}}" method="post">
    <label for="name-input">Name:</label>
    <input type="text" id="name-input" name="name" value="{{name}}">
    <label for="occupation-input">Ocupation:</label>
    <input type="text" id="occupation-input" name="occupation" value={{occupation}}>
    <label for="catchPhrase-input">Catch Phrase:</label>
    <input type="text" id="catchPhrase-input" name="catchPhrase" value={{catchPhrase}}>
    <button type="submit">Save info</button>
  </form>
</div>