<div class="container">
<h1>Editar ficha de {{name}}</h1>

          <form method="POST" action="/celebrities/edit?celebrities_id={{_id}}">
          
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" name="name" value="{{name}}">
            </div>
            <div class="form-group">
              <label>Profesión</label>
              <input type="text" class="form-control" name="occupation" value={{occupation}}>
            </div>
            <div class="form-group">
              <label>Frase célebre</label>
              <input type="text" class="form-control" name="catchPhrase" value={{catchPhrase}}>
            </div>
          
            <button type="submit" class="btn btn-dark">Modificar la ficha de {{name}}</button>
          </form>
</div>