<h2>Edit {{name}}</h2>
<form action="/celebrities/{{_id}}" method="POST">
  <p>
    <label for='name'>Write name:</label>
    <input type='text' name='name' value="{{this.name}}">
  </p>
  <p>
    <label for='occupation'>Write occupation:</label>
    <input type='text' name='occupation' value="{{occupation}}">
  </p>
  <p>
     <label for='catchPhrase'>Write catchphrase:</label>
    <input type='text' name='catchPhrase' value="{{catchPhrase}}">
  </p>
  <p>
    <input type='submit'>
  </p>
</form>