<h2>Edit {{celebrity.name}}</h2>

<form action="/celebrities/{{celebrity._id}}" method="POST">
<div>
  <label>actor:</label>
  <input type="text" name="name" id="name" placeholder="{{celebrity.name}}">
</div>
<div>
  <label>occupation:</label>
  <input type="text" name="occupation" id="occupation" placeholder="{{celebrity.occupation}}">
</div>
<div>
  <label>catchPhrase:</label>
  <input type="text" name="catchPhrase" id="catchPhrase" placeholder="{{celebrity.catchPhrase}}">
</div>
<button type="submit">EDIT</button>
</form>
