<h2>Edit Celebrity:{{name}}</h2>
<form action="/celebrities/{{this._id}}/edit" method="POST">

<p>Name:
<input type="text" name="name" value="{{name}}">
</p>

<p>Occupation:
<input type="text" name="name" value="{{occupation}}">
</p>

<p>CatchPhrase:
<input type="text" name="name" value="{{catchPhrase}}">
</p>

<input type="submit">
</form>