<h2>Edit celebrity:</h2>
<div class="celebrity-wrapper">
<form action="/celebrities/{{_id}}" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<input type="text" name="name" value="{{name}}">
<input type="text" name="ocupation" value="{{ocupation}}">
<input type="text" name="catchPhrase" value="{{catchPhrase}}">
<input type="submit" class="submit" value="Update">
</form>
<a href="/celebrities">Go back</a>
</div>
