<div class="container py-3">
    <h2 class="py-3">Edit {{celebrity.name}}'s profile</h2>
    <form action="/celebrities/{{celebrity._id}}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{celebrity.name}}">
    </div>
    <div class="mb-3">
        <label for="occupation" class="form-label">Occupation</label>
        <input type="text" class="form-control" id="occupation" name="occupation" value="{{celebrity.occupation}}">
    </div>
    <div class="mb-3">
        <label for="catchPhrase" class="form-label">Catch phrase</label>
        <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" value="{{celebrity.catchPhrase}}">
    </div>
    <input type="text" class="form-control" id="_id" name="_id" value="{{celebrity._id}}" hidden>
    <button type="submit" class="btn btn-dark">Confirm edition</button>
    </form>
    <a href="/celebrities/{{celebrity._id}}"><button class="btn btn-outline-dark mt-3">Go back to {{celebrity.name}}'s profile</button></a>
</div>
