<h2>Celebrities</h2>

<a href="/">Home</a><br>

<a href="/celebrities/add-celebrity">Add a new celebrity</a>

{{#each theCelebrities}}


<h3>{{this.name}}</h3>
<h3>{{this.id}}</h3>

<hr>
<a href="/celebrities/{{id}}">Details</a>

<a href="/celebrities/edit/{{id}}">Update</a>

<hr>
<form action="/celebrities/delete/{{id}}" method="POST">
    <button type="submit">Delete celebrity</button>
</form>

{{/each}}