<h2><ul>
    <% celebrities.forEach((celebrities) => { %>
      <li>
         Name: <%= celebrities.name %>  
         Occupation: <%= celebrities.occupation %> 
         Catch Phrase: <%= celebrities.catchPhrase%>
      </li>
    <% }) %>
  </ul></h2>

  <ul>
    <% celebrities.forEach((celebrities) => { %>
      <li>
        <%= celebrities.name %> - <%= celebrities.occupation %>
        <a href="/celebrities/<%= celebrities._id %>">View Details</a>
      </li>
    <%  }) %>
  </ul>