<div class="database-index-container">
  <h2>Celebrities</h2>
  <ul class="database-list">
  <% celebrities.sort((a,b) => a.name > b.name).forEach((celebrity) => { %>
    <li class="database-list-item">
      <a href="/celebrities/<%= celebrity.id %>"><%= celebrity.name %></a>
      <form action="/celebrities/<%= celebrity.id %>/delete" method="POST">
        <input type="submit" value="&#xf2ed"
          onclick="return confirm('Are you sure you want to delete <%= celebrity.name%>?')">
      </form>
      <form action="/celebrities/<%= celebrity.id %>/edit">
        <input type="submit" value="&#xf044">
      </form>
    </li>
  <% }) %>
  </ul>
  <a href="/celebrities/new" class="button">Create a new celebrity</a>
</div>