<div class="celeb-list">
    <h2>List of Celebrities</h2>
    <ul>
        {{#each celebs}}
        <li>
            <blockquote>{{this.catchPhrase}}</blockquote>
            <div class="celeb-info">
                <h3><a href="/celebrities/details/{{this._id}}">{{this.name}}</a></h3>
                <span class="occupation">{{this.occupation}}</span>
                <form action="/celebrities/{{this._id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
                <a href="/celebrities/{{this._id}}/edit" class="button">Edit</a>
            </div>
        </li>
        {{/each}}
    </ul>
</div>