
{{#each celebrities}}
<div class="celebrity-container">
<h1>Name: {{name}}</h1>

<h2>Occupation:</h2> <p>{{occupation}}</p>

<h2>Catchphrase:</h2> <p>{{catchPhrase}}</p>

<a href="/celebrities/{{_id}}">Go to celebrity details</a>

<a href="/celebrities/{{_id}}/edit">Edit celebrity details</a>

<form method="post" action="/celebrities/{{_id}}/delete">
  <input type="submit" value="delete">  
</form>
</div>
{{/each}}

<a href="/celebrities/new"> Add new Celebrity</a>