<h2>Celebrities</h2>
{{#each celebrities}}
<p><a href="/celebrities/{{this._id}}">{{this.name}}</a></p>
<div>
    <form action="/celebrities/{{_id}}/delete" method="POST">
        <input type="hidden" name="id" class="text" value="{{_id}}">
        <input type="submit" class="submit" value="Delete Celebrity">
    </form>
</div>
<div>
    <form action="/celebrities/{{_id}}/edit" method="POST">
        <input type="hidden" name="id" class="text" value="{{_id}}">
        <input type="submit" class="submit" value="Edit">
    </form>
</div>
{{/each}}
<div>
    <a href="/" style="color: red;">Return</a>
</div>
<div>
    <a href="/celebrities/new" style="color: red;">Add New Celebrity</a>
</div>