<h2>Artists Index</h2>
{{#each celebrities as |celebrity|}}
<h2>{{celebrity.name}}</h2>
<a href="celebrities/{{celebrity._id}}">detail</a>
<form action="celebrities/{{celebrity._id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
<a href="celebrities/{{celebrity._id}}/edit">Edit</a>
{{/each}}

{{#if err}}
<h2>{{err}}</h2>
{{/if}}