<h2>Celeb list</h2>
{{#each allCelebs}}
    <ul>
        <li>{{name}} is famous {{occupation}}. Catch phrase: {{catchPhrase}} 
            <br>
            <a href="/celebrities/{{_id}}">See more</a>
            <br>
            <a href="celebrities/{{_id}}/delete"> DELETE </a>
        </li>
    </ul>
{{/each}}

<br>
<a href="/celebrities/create-new"> Create new celeb </a>