{{#if data.userSession}}

<h1>All Celebs</h1>

<h2><a href="/celebrities/new">Create a new Celeb</a></h2>

{{#each data.celebritiesList}}

<div>
    <h3>{{this.name}}</h3>
    <br>
     <a href="/celebrities/{{this._id}}">SEE more</a> 
     <br>
           <a href="/celebrities/{{this._id}}/edit">Edit</a> 

         <form action="/celebrities/{{_id}}/delete" method="POST"> 
      <button>Delete</button>
    </form>

<p>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>
</p>

</div>
{{/each}}

{{else}}
LOGIN Expired
{{/if}}
