extends ../layout

block content

  h2 Celebrities

  ul
    each celebrity in celebrities
      li 
        a(href=`/celebrities/${celebrity._id}`) #{celebrity.name}
        .button-container
          form(action=`/celebrities/${celebrity._id}/delete` method="post")
            button(type="submit" class="delete") Delete
          form(action=`/celebrities/${celebrity._id}/edit` method="get")
            button(type="submit" class="edit") Edit

  if error
    p #{error}

  button(onclick="window.location.href = '/celebrities/new'" class="new") Add a new Celebrity