<div class="container">
  <a href="/">« Home</a>


  <div class="title">
    <h2>Celebrities</h2>

    <a href="/celebrities/new"><button><img src="../images/plus.svg" alt="">
        <span class="nobreak">Add celebrity</span>
      </button></a>
  </div>

  <div class="celeb-container">
    {{#each celebrities}}
    <div class="celeb">
      <div class="celeb-title">
        <h3><a href="/celebrities/{{this._id}}">{{this.name}}</a></h3>
        <h4><a href="/celebrities/{{this._id}}">{{this.occupation}}</a></h4>
        <p><a href="/celebrities/{{this._id}}">{{this.catchphrase}}</a></p>
      </div>
      <div class="celeb-edit">
        <form method="post" action="/celebrities/delete/{{this._id}}">
          <button><img src="../images/delete.svg" alt=""> Delete</button>
        </form>
        <form method="get" action="/celebrities/edit/{{this._id}}">
          <button><img src="../images/edit.svg" alt=""> Edit</button>
        </form>
      </div>
    </div>
    {{/each}}


  </div>
</div>