<h1>List of Widely Known, Not Necessarily Happy People</h1>

{{#each celebrities}}

<h2>the underrated, drumroll please... {{this.name}}</h2>

<a href="/celebrities/{{this._id}}/details">{{this.name}} Bio</a>
<br><br>
<form action="/celebrities/{{this._id}}/delete" method="POST">
{{!-- how to style Delete button the way I want. truly, just need to know how to connect css/scss to several different files/folders --}}
<button>DELETE</button>

</form>

<form action="/celebrities/{{this._id}}/edit" method="POST">

<button>EDIT</button>

</form>

  {{/each}}
     
     <br><br><br>

<a href="/celebrities/new">Add</a>

<br><br><br>

  <a href="/">Home</a>