<h2 class="text-center fw-bold mb-3">Celebrities</h2>

<table class="table table-striped table-light p-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            {{!-- <th scope="col">Ocupation</th>
            <th scope="col">Catch Phrase</th> --}}
            <th scope="col">Details</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody >
        {{#each celebrities}}
        <tr>
            <th scope="row"><a class="" href="/celebrities/{{id}}">{{name}} {{lastName}}</a></th>
            {{!-- <td>{{ocupation}}</td>
            <td>{{catchPhrase}}</td> --}}
            <td>
                <a class="btn btn-success" href="/celebrities/{{id}}/edit">Edit</a>
            </td>
            <td>
                <form class="delete-form" action="/celebrities/{{id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return clicked()">Remove</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>