<h2>{{title}}</h2>

<a href="/celebrities/new">Add a celebrity</a>

{{#each celebrities}}
    <p>
        <a href="/celebrities/{{this._id}}">{{this.name}}</a>
        <a href="/celebrities/{{this._id}}/edit">Edit</a>
        <form method="POST" action="/celebrities/{{this._id}}/delete">
            <button type="submit">Delete</button>
        </form>
    </p>
{{/each}}