<h2 class="mb-5">Celebrities</h2>

<a href="/celebrities/new" class="btn btn-success float-right mb-4"><i class="fas fa-plus-circle"></i> Add new</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Occupation</th>
            <th scope="col">Catch Phrase</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each celebrities}}
        <tr>
            <td> <a href="/celebrities/{{_id}}"><i class="fas fa-info-circle"></i> {{name}}</a></td>
            <td>{{occupation}}</td>
            <td>{{catchPhrase}}</td>
            <td> 
                <a href="/celebrities/{{_id}}/edit" class="btn btn-secondary"><i class="fas fa-pen"></i></a>
                <a href="/celebrities/{{_id}}/delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></a> 
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>