<h2>Celebrities</h2>
<p style="color:crimson">{{error}}</p>
<ul>
  {{#each celebrities}}
  <form action="/celebrities/{{_id}}/delete" method="POST">
    <li><a href="/celebrities/{{_id}}">{{name}}</a> - <button type="submit">❌</button> - <a
        href="/celebrities/{{_id}}/edit">edit</a></li>
  </form>
  {{!-- <form action="/celebrities/{{_id}}/delete">
    <li><a href="/celebrities/{{_id}}">{{name}}</a> - <button type="submit">❌</button> </li>
  </form> --}}

  {{/each}}
</ul>
<a href="/celebrities/new">Add new Celebrity</a>