
{{> nav}}
<section class="section-1">
<h2>Celebrities Page</h2>

{{#each Celebrity}}

<ul><li><a href="/celebrities/show/{{this.id}}">{{this.name}}</a></li></ul>
<button><a href="/celebrities/edit/{{this.id}}">Edit {{this.name}}</a></button>
<button><a href="/celebrities/delete/{{this.id}}">Delete {{this.name}}</a></button>

{{/each}}

</section>

