<div class="container pad-50 bg-pink">
    <div class="row pad-15">
        <div class="col-12">
            <a class="btn btn-outline-dark btn-sm bradius-0" href='/'> Back index</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h2 class="aling-center"><strong>All Celebrities</strong></h2>
        </div>
    </div>
    <hr>
    <div class="row pad-15">
        <div class="col-12 aling-center">
            <a class="btn btn-outline-light btn-lg bradius-0" href='celebrities/new'>Add new Celebrity</a>
        </div>
    </div>
    <hr>


    {{#each allCelebritys}}
    <div class="card pad-15 mg-50 bg-pastel-pink">
        <div class="card-body">
            <h5 class="card-title">Celebrity: <span class="strong-text uppercase">{{name}}</span></h5>
            <div class="row pad-15">
                <div class="col-2 border-lf-rg aling-center">
                    <a class="btn btn-dark btn-sm bradius-0" href='celebrities/detail/{{_id}}'>Detail</a>
                </div>
                <div class="col-2 border-lf-rg aling-center">
                    <a class="btn btn-dark btn-sm bradius-0" href='celebrities/edit/{{_id}}'>Edit</a>
                </div>
                <div class="col-2 border-lf-rg aling-center">
                    <form action="celebrities/{{_id}}/delete" method="POST">
                        <input class="btn btn-outline-dark btn-sm bradius-0" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="warning">{{warningMsg}}</p>
        </div>
    </div>
    {{/each}}

</div>