<h2>List of Celebrities</h2>

{{#each celebrities}}
  <h3>{{this.name}}</h3>
  <p>{{this.occupation}}</p>
  <p><i>"{{this.catchPhrase}}"</i></p>
  <a href="/celebrities/{{this._id}}">More details</a>
  <form action="/celebrities/{{this._id}}/delete" method="POST"><button>Delete</button></form>
{{/each}}

<a href="/celebrities/new">Add new celebrity</a>