<h2>{{title}}</h2>

{{#each celebrities}}
<div>
  <div>
    <a href="/celebrities/{{this._id}}">{{this.name}}</a>
    <a href="/celebrities/delete/{{this._id}}"><button>Delete</button></a>
    <a href="/celebrities/edit/{{this._id}}"><button>Edit</button></a>
  </div>
</div>
{{/each}}

<div><a href="/celebrities/new">Add new celebrity</a></div>