{{!-- Add an <h2> tag for the page's heading. --}}
<h2>Celebrities</h2>
{{!-- Use a forEach loop to display tags with each celebrity's name. --}}
  <ul>
 {{celebrities.forEach((celebrity) => { }}   
    <p>{{celebrity.name}}</p>
    <li>
        <a href="/celebrities/{{celebrity.id}}"> {{celebrity.name}}</a>
        <form action="/celebrities/{{ celebrity.id }}/delete" method="POST">
            <input type="submit" value="Delete">
            <input type="submit" value="Delete"
                onclick="return confirm('Are you sure you want to delete {{ celebrity.name }}?')">
        </form>
    </li>
  </ul>
{{!-- Add a link that goes to the /celebrities route.  --}}
 <a href="/celebrities/new">Nw celebrity</a>