<body class="listPersona">

<h1>
Celebrities Gallore
</h1>

{{#each celebs}}
<h2>{{this.name}}</h2>
<h3>{{this.occupation}}</h3>
<h3>{{this.catchPhrase}}</h3>
<img src="{{this.image}}" alt="" style="width: 200px"> 

<a href="/celebrities/details-celebs{{this._id}}">See Details</a>

<a href="/celebrities/edit-celebs{{this._id}}/edit">Update info</a>
{{/each}}
</div>



</body>