<h2>New celebrity</h2>

<form method="POST" action="/celebrities/new">
  <div class="mb-3">
    <label for="nameInput" class="form-label">Name</label>
    <input name="name" value="{{celebrity.name}}" type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="nameInput">
    {{#if errors.name}}<div class="invalid-feedback">{{errors.name}}</div>{{/if}}
  </div>
  <div class="mb-3">
    <label for="occupationInput" class="form-label">Occupation</label>
    <input name="occupation" value="{{celebrity.occupation}}" type="text" class="form-control {{#if errors.occupation}}is-invalid{{/if}}" id="occupationInput">
    {{#if errors.occupation}}<div class="invalid-feedback">{{errors.occupation}}</div>{{/if}}
  </div>
  <div class="mb-3">
    <label for="catchPhraseInput" class="form-label">Catch Phrase</label>
    <input name="catchPhrase" value="{{celebrity.catchPhrase}}" type="text" class="form-control {{#if errors.catchPhrase}}is-invalid{{/if}}" id="catchPhraseInput">
    {{#if errors.catchPhrase}}<div class="invalid-feedback">{{errors.catchPhrase}}</div>{{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>