
<h2 class="titles">Add to server</h2>
<div class="details">

<h3>Name:</h3>
<p>{{this.name}}</p>

<h3>Occupation:</h3>
<p>{{this.occupation}}</p>

<h3>Catchphrase:</h3>
<p>{{this.catchPhrase}}</p>

<h3>Movies:</h3>
<a href="/movies/details/{{this.movies._id}}"><p>{{this.movies.title}}</p></a>
</div>
