<h2>Celeb profile of {{result.name}}</h2>

<ul>
    <li>Occupation: {{result.occupation}}</li>
    <li>Catchy phrase: {{result.catchPhrase}}</li>
</ul>

<a href="/celebrities/{{result._id}}/edit">EDIT </a>

<a href="/celebrities/{{result._id}}/delete">DELETE </a>