<h2>Show {{celebrity.name}}</h2>

<p>Name: {{celebrity.name}}</p>
<p>Occupation: {{celebrity.occupation}}</p>
<p>Favourite spell: {{celebrity.catchPhrase}}</p>

<a href="/celebrities/{{celebrity.id}}/edit">Edit</a>