<h1 class="display-4 m-5">Celebrities</h1>
<div class="container m-5">
  <div class="row">
    <div class="col">

      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ celebrity.picPath }}" class="card-img" alt="{{ celebrity.name}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{ celebrity.name}}</h3>
              <p class="card-text">{{ celebrity.catchPhrase }}</p>
              <p class="card-text"><small class="text-muted">{{ celebrity.occupation }}</small></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>