{{!--<h2>All details for {{this.name}}</h2>

<p>The occupation of {{this.name}} is {{this.occupation}} and got famous by
  {{this.catchPhrase}}</p>--}}

<h1>{{celeb.name}}</h1>
<p>{{celeb.occupation}}</p>
<ul>
  {{#each movies}}
  <li>{{this.title}}</li>
  {{/each}}
</ul>