<h2>{{celebrityDetails.name}} detail´s</h2>

<div>
    <p>Name: {{celebrityDetails.name}}</p>
    <p>Occupation: {{celebrityDetails.occupation}}</p>
    <p>Catchy Phrase: {{celebrityDetails.catchPhrase}}</p>
    <a href="/celebrities/{{celebrityDetails.id}}/edit">Edit information</a>
</div>

<a href="/celebrities">More celebrities</a>