<h2>Details</h2>
<p>name: {{name}}</p>
<p>occupation: {{occupation}}</p>
<p>catchphrase: {{catchPhrase}}</p>
<p>rating: {{rating}}</p>
</br>
<a href="/celebrities/{{id}}/edit">Edit this celebrity</a>
</br>
<a href="/celebrities/{{id}}/delete">Delete this celebrity</a>
</br>
<a href="/celebrities/">Go back</a>