{{> navBar_celebrities}}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <div class="col">
            <h2>{{name}}</h2>
            <h2>{{occupation}}</h2>
            <h2>{{catchPhrase}}</h2>
        </div>
    </div>
</div>
