<div>
    <h2>Celebrity</h2>
    <p>{{cel.name}}</p>
    <p>{{cel.occupation}}</p>
    <p>{{cel.catchPhrase}}</p>
    <a href="/celebrities/{{cel._id}}/edit">EDIT</a>
    <a href="/celebrities/{{cel._id}}/delete">DELETE</a>
</div>