<div class="col s6 m6 offset-m2 offset-s3 offset-m3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <img class="responsive-img"src="{{image}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p><i style="transform: rotate(-180deg);" class="material-icons">format_quote</i>{{catchPhrase}}<i class="material-icons">format_quote</i></p>
    <div class="card-action orange-text">
      <a href="/celebrities/{{id}}/edit">Edit</a>
      <a href="/celebrities/{{id}}/delete">Delete</a>
    </div>
</div>
</div>