<h2>{{name}}</h2>

<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchPhrase}}</p>

<form action="/celebrities/{{id}}/delete" method="post">
  <button type="submit" class="btn btn-dark">Delete this entry</button>
</form>