<h2>More about this celebrity</h2>

<div>
  <p>Name: {{this.name}}</p>
  <p>Occupation: {{this.occupation}}</p>
  <p>Quote: {{this.catchPhrase}}</p>
  <p>Movies:
    {{#each movies}}
    <span>{{this.title}}</span>
    {{/each}}
  </p>
  <p>Created by: {{this.createdBy.username}}</p>
</div>

<a href="/celebrities">Back</a>