{{#with celeb}}
  <h2>{{name}}</h2>
  <p class="occupation">{{occupation}}</p>
  <p class="phrase">{{catchPhrase}}</p>
  <a href="/celebrities/{{_id}}/edit" class="btn">edit</a>
  <a href="/celebrities/{{_id}}/delete" class="btn">deleted</a>
{{/with}}
