<div class="row">
	<div class="col-12 d-flex justify-content-center align-items-center">
		<h1 class="my-5">{{title}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex flex-column justify-content-center">
		<h2 class="my-3">{{name}}</h2>
		<h3 class="my-3">{{occupation}}</h3>
		<p class="my-3">{{catchPhrase}}</p>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<a class="my-5 btn btn-dark btn-lg btn-block" href="/celebrities/{{this.id}}/edit">Edit Celebrity</a>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<a class="my-5 btn btn-dark btn-lg btn-block" href="/celebrities">Go back</a>
	</div>
</div>
