<h2> Celebrity: {{celebItem.name}}</h2>

<p>Name : {{name}}</p>

<p>Occupation: {{occupation}}</p>

<p>CatchPhrase: " {{catchPhrase}}</p>

<button><a href="{{id}}/edit">Edit details</a></button>

<a href="/celebrities">Back to Celebrities</a>