
{{#if edited}}
<h3>{{star.name}} has been updated!</h3>
{{/if}}


<h2>{{star.name}}</h2>

<h3><i>{{star.catchphrase}}</i></h3>

<h4>Occupation: {{star.occupation}}</h4>

<p><a href="/celebrities">Go back</a></p>

<form action="/celebrities/{{star._id}}/delete" method="POST">
<input type="submit" value="Delete celebrity">
</form>

<form action="/celebrities/{{star._id}}/edit" method="GET">
<input type="submit" value="Edit celebrity">
</form>
