<h2>{{title}}</h2>
<p>Welcome to {{title}}</p>

<ul>
    <li> {{celebrity.name}} -- {{celebrity.occupation}} </li>
    <li>{{celebrity.catchPhrase}} </li>
    <a href="/celebrities/{{celebrity._id}}/edit">edit profil</a>
</ul>