<div>
  <p>
    Nombre: {{celebrity.name}} <br>

    Profesion: {{celebrity.occupation}} <br>
    
    Eslogan: {{celebrity.catchPhrase}}
  </p>


  <a href="/celebrities/delete/{{celebrity._id}}" class="btn-add">BORRA LA CELEBRITY</a>
  <a href="/celebrities/edit/{{celebrity._id}}" class="btn-add2">EDITAR LA CELEBRITY</a>

</div>