<h2>Información del Artista</h2>


<p>{{celebrities.name}}</p>
<p>{{celebrities.occupation}}</p>
<p>{{celebrities.catchPhrase}}</p>
{{!-- <a href="/drones/{{id}}/edit">Editar</a>
<form action="/drones/{{id}}/delete" method="POST">
    <button type="submit">Borrar</button>
</form> --}}

