<h2>{{celebrity.name}}</h2>

<strong>Occupation</strong>: {{celebrity.occupation}} <br>
<strong>Catch Phrase</strong>: {{celebrity.catchPhrase}} <br>

<p>
    <a href="/celebrities/{{celebrity._id}}/edit">Edit</a><br>
    <a href="/celebrities/{{celebrity._id}}/delete">Delete</a><br><br><br>
    <a href="/celebrities">Go Back to the List of Celebrities</a><br>
</p>