<h2>{{name}}</h2>

<div class="celebrity item">
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Occupation:</strong> {{this.occupation}}</p>
    <p><strong>Catch Phrase:</strong> {{this.catchPhrase}}</p>
    <a href="/celebrities">Return to Home</a> - <a href="/celebrities/{{this._id}}/edit">Edit</a>
</div>