<h2>{{celebrity.name}}</h2>


<hr class="mt-0" />


<div class="m-5">

    <h1>Name: {{celebrity.name}}</h1>
    <h3>occupation: {{celebrity.occupation}}</h3>
    <h5>Catch Phrase: {{celebrity.catchPhrase}}</h5>
</div>

<div class="d-flex justify-content-start">
    <form action="/celebrities/{{celebrity.id}}/delete" method="POST" class="m-5">
        <button type="submit" class="btn btn-outline-danger pl-4 pr-4">DELETE CELEBRITY</button>
    </form>

    <form action="/celebrities/{{celebrity.id}}/edit" method="GET" class="m-5">
        <button type="submit" class="btn btn-outline-info pl-4 pr-4">EDIT CELEBRITY FILE</button>
    </form>


</div>