{{> navBar_celebrities}}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <div class="col">
            <h2>{{name}}</h2>
            <h3>{{occupation}}</h3>
            <h3>{{catchPhrase}}</h3>
        </div>
    </div>
</div>
