<h2>Celebritie Details</h2>
    <div class='container'>
        <div class='row'>
            <div class="card" style="width: 18rem;">
                <img src={{celebrities.image}} class="card-img-top" alt="{{celebrities.name}} image">
                <div class="card-body">
                    <h5 class="card-title">{{celebrities.name}}</h5>
                    <h6>{{celebrities.occupation}}</h6>
                    <p class="card-text">{{celebrities.catchPhrase}}</p>
                </div>
            </div>
        </div>
    </div>