<h1 class="text-center">Celebrity Detail</h1>

{{!-- {{}} --}}


<p><strong>Name</strong>: {{celeb.name}}</p> 
<p><strong>Occupation</strong>: {{celeb.occupation}}</p> 
<p><strong>Catch Phrase</strong>: {{celeb.catchPhrase}}</p> 

<a href="/celebrities/{{celeb.id}}/edit" class="btn btn-outline-primary">Edit</a>
<a href="/celebrities/{{celeb.id}}/delete" class="btn btn-outline-danger">Delete</a>