<h2>{{celebItem.name}}</h2>

<p>{{celebItem.occupation}}</p>

<p>{{celebItem.catchPhrase}}</p>


<a href="/celebrities/{{celebItem._id}}/delete"><button>Die Bitch</button></a>
<a href="/celebrities/{{celebItem._id}}/edit">Edit this celeb</a>