<h2>Here is {{celebDeets.name}}'s deetz</h2>


<p>Name: {{celebDeets.name}}</p>
<p>Occupation: {{celebDeets.occupation}}</p>
<p>Catchphrase: {{celebDeets.catchPhrase}}</p>

<button><a href="/celebrities/edit/{{celebDeets._id}}">Edit This Celeb</a></button>

<a href="/celebrities">Return to Celeb page</a>