<h2>{{name}} details:</h2>
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchphrase}}</p>
<form action="/celebrities/{{_id}}/edit" method="GET">
    <button>Edit</button>
</form>