<h2>{{celebDeets.name}}</h2>
<p>
 {{#if msg}}
  {{msg}}
  {{/if}}
</p>

<p>Name: {{celebDeets.name}}</p>
<p>Occupation: {{celebDeets.occupation}}</p>
<p>Catchphrase: {{celebDeets.catchPhrase}}</p>
<img src="{{celebDeets.image}}" alt="">

<button><a href="/celebrities/edit/{{celebDeets._id}}">Edit This Celeb</a></button>

<a href="/celebrities">Return to Celeb page</a>