<div class="title-bar">
    <a href="/">
        <button type="button" class="btn btn-info">Back To Homepage</button>
    </a>
    <h1>Name: {{celebrity.name}}</h1>
    <a href="/celebrities/">
        <button type="button" class="btn btn-info">Back To Celebrity Directory</button>
    </a>
</div>
<hr>
<br>
<div class="celeb-row">
    <div class="celeb-profile">
        <div class="celeb-img-container">
            <img style="background-image" src="{{celebrity.imgPath}}" class="celeb-img" alt="">
        </div>
        <div class="celeb-info">
            <p><strong>Occupation:</strong> {{celebrity.occupation}}</p>
            <p><strong>Catch Phrase:</strong> "<em> {{celebrity.catchphrase}}</em> "</p>
            <div class="buttons">
                <a href="/celebrities/edit/{{celebrity._id}}">
                    <button class="btn btn-primary btn-md">Edit This Celebrity</button>
                </a>
                <form action="/celebrities/delete/{{celebrity._id}}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete This Celebrity</button>
                </form>
            </div>
        </div>
    </div>
</div>