<h2>Celebrity Details</h2>
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchphrase}}</p>
<a href="/celebrities/{{_id}}/delete"><button>Delete</button></a>
<a href="/celebrities/{{_id}}/edit"><button>Edit</button></a>