<h2 class="page-title">{{celeb.name}}</h2>

<div id="celeb-detail">
    <h3>Name: <span>{{celeb.name}}</span></h3>
    <h3>Occupation: <span>{{celeb.occupation}}</span></h3>
    <h3>Catch Phrase: <span>{{celeb.catchPhrase}}</span></h3>
</div>
<a href="/celebrities/{{celeb._id}}/edit">Edit</a>

<a href="/celebrities">Return to Celebrities Home</a>