<h2>More details about {{name}}</h2>

<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>Catchphrase: {{catchPhrase}}</p>

<a href="/celebrities/{{_id}}/edit">Edit {{name}}'s details</a>


<a href="/celebrities">back to all celebrities</a>
