{{!-- <h2>HELLO</h2> --}}
{{#with celebrity}}
<h1>{{name}}</h1>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
{{!-- <img src="{{pictureUrl}}" height="200px" alt="picture for {{lastName}}"> --}}
{{/with}}
<br>
<br>
<a href="/">Go back</a>
<a> | </a>
<a href="/celebrities/new">Add a new one</a>