<div class="ugly-container"><h2>DAVANTAGE SUR NOTRE CÉL☺BRE CÉLÉBRITÉ {{celebrity.name}}</h2>
  <div>
  À SAVOIR : <span>{{celebrity.name}}</span> s'appelle <span>{{celebrity.name}}</span>. Connu·e pour son activité de <span>{{celebrity.occupation}}</span>, <span>{{celebrity.name}}</span> est aussi une personne très sage.
  <aside>«{{celebrity.catchPhrase}}»</aside>
  </div>
  <nav>
      <ul>
        <li><a href="/celebrities/all">Toutes nos célébrités les plus épatantes</a></li>
        <li><a href="/celebrities/new">Ajouter une autre épatante célébrité</a></li>
      </ul>
  </nav>
</div>