<header>
  <h2>{{name}}'s details page</h2>
</header>

<section class="row justify-content-around">

  <div class="col-md-4">
    <img src="{{image}}" alt="{{name}}'s portrait">
  </div>

  <div class="col-md-8">

    <header>
      <h4>Name: {{name}}</h4>
    </header>

    <article>
      <h4>Occupation: {{occupation}}</h4>
    </article>

    <article>
      <h4>Catch Phrases: &quot;{{catchPhrase}}&quot;</h4>
    </article>

  </div>
</section>