<h2>{{celebrity.name}}</h2>
<span>{{celebrity.occupation}}</span>
<p>{{celebrity.catchPhrase}}</p>
{{#each celebrity.moviesActed}}
<img src="{{image}}">
<p>{{title}}</p>
{{/each}}
<a href="../">Return</a>
