<div class="row">
  <div class="col-sm-4">
    <div class="card border border-primary" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{celebrity.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{celebrity.occupation}}</h6>
        <p class="card-text">{{celebrity.catchPhrase}}</p>
        <a href="/edit/{{celebrity.id}}" class="card-link text-warning">edit</a>
        <a href="/delete/{{celebrity.id}}" class="card-link text-danger">delete</a>
      </div>
    </div>
  </div>
</div>