<div class="show-more">
  <img class="movie-img" src="{{image}}" alt="{{name}} photo">
  <div class="movie-block">
    <h1>{{name}}</h1>
    <h3>Occupation: {{occupation}}</h3>
    <p>Catch Phrase:<em>"{{catchPhrase}}"</em></p>
  </div>
</div>
<button type="button"><a href="/celebrities/">back</a></button>