<h1>
{{theFilm.title}}  
</h1>

<h2>
    Genre:  {{theFilm.genre}}
</h2>

<h3>
   Plot:  {{theFilm.plot}}
</h3>


<a href="/movies"> <button>Back</button></a>
<a href="/movies/{{theFilm._id}}/edit"><button>Edit This Movie</button></a>


<form action="/movies/{{theFilm._id}}/delete" method="POST">
    <button>Delete This</button>
</form>
