<h2> Celebrity's Detail </h2>

<ul>
    <li>
      <h3>{{this.name}}</h3>
      <p> best sentence : {{this.catchPhrase}}</p>
      <p> best occupation : {{this.occupation}}</p>
    </li>
</ul>

<p>Added on {{book.createdAt}}</p>
<p>Rated {{book.rating}}/10</p>