<h2>Celebrity Details</h2>

<h3>{{celeb.name}}</h3>
<h4>Occupation: {{celeb.occupation}}</h3>
<h4>Catch Phrase: {{celeb.catchPhrase}}</h3>
<h4>Casted in: <a href="/movies/{{celeb.movies._id}}">{{celeb.movies.title}}</a></h4>

<a href="/celebrities/{{celeb._id}}/edit">Edit Celeb</a>
