<a href="/">Back</a>
<h1>{{name}}</h1>
<p>{{occupation}}</p>
<p>{{catchPhrase}}</p>
<a href="/celebrities/{{id}}/edit">Edit</a>
<form action="/celebrities/{{id}}/delete" method="POST">
    <button>Delete</button>
</form>