<h2>Celebrity Details</h2>

<div class="indented-menu">
  <h3><%= celebrity.name %> <a href="/celebrities/edit/<%= celebrity._id %>">   [Edit]</a></h3>
  <em><%= celebrity.occupation %></em>
  <br>
  <p>Catch phrase: "<%= celebrity.catchPhrase %>"</p>
  <form action="/celebrities/delete/<%= celebrity._id %>" method="post">
    <button type="submit">Delete</button>
  </form>
</div>
