<section class="form-celebrities">
	<h2>{{title}}</h2>
	<form action="/celebrities/{{celebrity._id}}" method="post">
		<input type="text" name="name" value="{{celebrity.name}}" placeholder="Name *" required>
		<input type="text" name="occupation" value="{{celebrity.occupation}}" placeholder="Occupation *">
		<textarea type="text" name="catchPhrase" value="" placeholder="Phrase *" rows="4" cols="50" required>{{celebrity.catchPhrase}}</textarea>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>
</section>