<h2 style="margin-left:100px">Editing <em>{{movie.title}}</em></h2>

<form
  action="/movies/update/{{movie._id}}" method="POST"
  style="width:500px; margin-left:100px"
>
  <div class="form-group">
    <label for="movieTitle">Title</label>
    <input
      type="text"
      class="form-control"
      id="movieTitle"
      aria-describedby="nameHelp"
      value="{{movie.title}}"
      name="theTitle"
    />
  </div>
  <div class="form-group">
    <label for="movieDirector">Director</label>
    <select class="form-control" id="movieDirector" name="theDirector">
{{#each directors}}
{{#if this.chosen}}
<option selected value="{{this._id}}">{{this.name}}</option>
 {{else}}
<option value="{{this._id}}">{{this.name}}</option>
{{/if}}
{{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="movieGenre">Genre</label>
    <input
      type="text"
      class="form-control"
      id="movieGenre"
      aria-describedby="genreHelp"
      value="{{movie.genre}}"
      name="theGenre"
    />
  </div>
    <div class="form-group">
    <label for="moviePlot">Synopsis</label>
    <textarea
      class="form-control"
      id="moviePlot"
      aria-describedby="plotHelp"
      placeholder="{{movie.plot}}"
      name="thePlot"
      rows="3"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="movieImage">Poster URL</label>
    <input
      type="text"
      class="form-control"
      id="movieImage"
      aria-describedby="imageHelp"
      value="{{movie.image}}"
      name="theImage"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
