<a href="/movies">Back</a>
<br>
<br>
<img style="width:300px" src="{{movie.image}}" alt="no image found">
<h2>{{movie.title}}</h2>

<h3>Director: {{movie.director}}</h3>

<p>{{movie.plot}}</p>

<h4>Genre: {{movie.genre}}</h4>
