<div class="grid">
  <div class="celebrity">
    <h3 class="name"><%= celebrity.name %></h3>
    <p class="occupation"><%= celebrity.occupation %></p>
    <div class="image">
      <img src="<%= celebrity.imgUrl %>" alt="<%= celebrity.name %>">
      </div>
    <p class="quote">
      <blockquote>
      <%= celebrity.catchPhrase %>
      </blockquote>
    </p>
  </div>
</div>
