<h1>
    <%= celebrity.name %>
</h1>
<h3>Name:
    <span>
        <%= celebrity.name %>
    </span>
</h3>
<h3>Occupation:
    <span>
        <%= celebrity.occupation %>
    </span>
</h3>
<h3>CatchPhrase:
    <span>
        <%= celebrity.catchPhrase %>
    </span>
</h3>
<a href="/celebrities/<%= celebrity._id %>/edit/">Modify</a>