<h1>Acerca de {{name}}</h1>

<h2>
  <div class="celeb">{{name}}</div> trabaja como {{occupation}}
</h2>
<h2>
  La frase común de <div class="celeb">{{name}}</div> es <div class="catchPhrase">{{catchPhrase}}</div>
</h2>

<a href="/celebrities/{{id}}/edit"><button>Edit</button></a>
<a href="/celebrities"><button>Go Back to the list</button></a>