<h2>Celebrity List</h2>

<ul>
  {{#each celebArray}}
  <li>
    <h3>{{this.name}}</h3>
    <p>{{this.occupation}}</p>
    <p>{{this.catchPhrase}}</p>
    <a href="/celebrities/{{this._id}}/delete">Delete a celeb</a>
    <a href="/celebrities/{{this._id}}/edit">edit a celeb</a>
  </li>
  {{/each}}
</ul>


<a href="/">home page</a>
<a href="/celebrities/new">add a new celeb</a>