<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <a href="/celebrities"> Go back </a>
    <p><b>Name:</b> <%= celeb.name %></p>
    <p><b>Ocuppation:</b> <%= celeb.occupation %></p>
    <p><b>Catch Phrase:</b> <%= celeb.catchPhrase %></p>
</body>
</html>
