
<div class="card">
  <img class="card-img-top" src="{{imgUrl}}" alt="Celebrity image">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="occupation">{{occupation}}</p>
    <p class="phrase">{{catchPhrase}}</p>
    <a href="/celebrities/{{_id}}/edit" class="btn btn-success">edit</a>
    <a href="/celebrities/{{_id}}/delete" class="btn btn-danger">delete</a>
  </div>
</div>
