<ul>
  {{#each form.errorFields}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<form action="{{form.action}}" method="POST">
  <fieldset>
    <div class="{{form.nameClass}}">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="{{celebrity.name}}">
    </div>
    <div class="{{form.occupationClass}}">
      <label for="occupation">Occupation:</label>
      <select name="occupation" id="occupation">
        <option value="">- Select -</option>
        <option value="actor" {{#if celebrity.actor}}selected{{/if}}>Actor</option>
        <option value="actress" {{#if celebrity.actress}}selected{{/if}}>Actress</option>
        <option value="singer" {{#if celebrity.singer}}selected{{/if}}>Singer</option>
        <option value="comedian" {{#if celebrity.comedian}}selected{{/if}}>Comedian</option>
        <option value="unknown" {{#if celebrity.unknown}}selected{{/if}}>Unknown</option>
      </select>
    </div>
    <div class="{{form.catchPhraseClass}}">
      <label for="catchPhrase">Catch Phrase:</label>
      <textarea name="catchPhrase" id="catchPhrase" cols="30" rows="10">{{celebrity.catchPhrase}}</textarea>
    </div>
  </fieldset>
  <fieldset>
    <button type="submit">{{form.buttonText}}</button>
  </fieldset>
</form>