<div class="row">
  <div class="column">
    <ul class="errors-wrp">
      {{#each form.errorFields}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<form action="{{form.action}}" method="POST" class="form">
  <fieldset>
    <div class="row">
      <div class="columns six {{form.nameClass}}">
        <label for="name">Name:</label>
        <input class="u-full-width" type="text" name="name" id="name" value="{{celebrity.name}}">
      </div>
      <div class="columns six {{form.occupationClass}}">
        <label for="occupation">Occupation:</label>
        <select class="u-full-width" name="occupation" id="occupation">
          <option value="">- Select -</option>
          <option value="actor" {{#if celebrity.actor}}selected{{/if}}>Actor</option>
          <option value="actress" {{#if celebrity.actress}}selected{{/if}}>Actress</option>
          <option value="singer" {{#if celebrity.singer}}selected{{/if}}>Singer</option>
          <option value="comedian" {{#if celebrity.comedian}}selected{{/if}}>Comedian</option>
          <option value="unknown" {{#if celebrity.unknown}}selected{{/if}}>Unknown</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="column {{form.catchPhraseClass}}">
        <label for="catchPhrase">Catch Phrase:</label>
        <textarea class="u-full-width" name="catchPhrase" id="catchPhrase" cols="30" rows="20">{{celebrity.catchPhrase}}</textarea>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="column">
        <button class="button-primary" type="submit">{{form.buttonText}}</button>
      </div>
    </div>
  </fieldset>
</form>