<h2 class="title text-center">{{heading}}</h2>
<form method="POST" class="w-75 mx-auto mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4 col-12 mt-3">
      <input class="form-control" type="text" name="name" id="name" placeholder="{{temporaryName}}" value="{{name}}" required >
    </div>
    <div class="col-md-4 col-12 mt-3">
      <input class="form-control" type="text" name="{{secondItem}}" id="occupation" placeholder="{{temporaryItem}}" value="{{secondItem}}">
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 col-12">
      <textarea class="form-control" name="catchPhrase" id="" cols="50" rows="7" placeholder="{{temporaryText}}">{{text}}</textarea>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
      <button type="submit" class="btn btn-success btn-lg">{{action}}</button>
  </div>
</form>
