<form method="POST" action="{{#if _id}}/celebrities/{{_id}}/edit{{else}}/celebrities/new{{/if}}">
  <div class="mb-3">
    <label for="name-input" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="name-input" value="{{name}}">
  </div>
  
  <div class="mb-3">
    <label for="occupation-input" class="form-label">Occupation</label>
    <input type="text" name="occupation"class="form-control" id="occupation-input" value="{{occupation}}">
  </div>

    <div class="mb-3">
    <label for="catchPhrase-input" class="form-label">CatchPhrase</label>
    <input type="text" name="catchPhrase"class="form-control" id="catchphrase-input" value="{{catchPhrase}}">
  </div>
  
  <button type="submit" class="btn btn-primary">{{#if _id}}Edit{{else}}Create{{/if}}</button>
</form>

