<div class="form-group">
  <label>{{label}}</label>
  <input type="text" class="form-control" name="{{name}}" aria-describedby="{{name}}Help" value="{{value}}">
  <small id="{{name}}Help" class="form-text text-muted">{{help}}</small>
</div>
