<div class="form-group">
  <label for="example{{name}}">{{label}}</label>
  <input type="text" class="form-control" name="{{name}}" aria-describedby="{{name}}Help" placeholder="{{placeholder}}"
    value="{{value}}">
  <small id="{{name}}Help" class="form-text text-muted">{{help}}</small>
</div>