<div class="col-md-3 col-12 mr-2 mt-2 p-3 text-center" id="item-container">
    <h5>{{heading}}</h5>
        <a href="/{{item}}/{{id}}" class="btn btn-info mt-2">Detail page</a>
    <a href="/{{item}}/{{id}}/edit" class="btn btn-success mt-2">Edit</a>
    <form action="/{{item}}/{{id}}/delete" method="POST" class="mt-2">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>