
<a href="{{this.path}}/{{id}}"><h3>{{name}}</h3></a>
<p>
<form action="{{this.path}}/{{id}}/edit" method="GET">
    <button class="btn btn-warning" type="submit">EDIT</button>
</form>
<form action="{{this.path}}/{{id}}/delete" method="POST">
    <button class="btn btn-danger" type="submit">DELETE</button>
</form>
</p>