
<div class="card">
  <img class="card-img-top" src="{{imgUrl}}" alt="Movie image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="genre">{{genre}}</p>
    <p class="plot">{{plot}}</p>
    <a href="/movies/{{_id}}/edit" class="btn btn-success">edit</a>
    <a href="/movies/{{_id}}/delete" class="btn btn-danger">delete</a>
  </div>
</div>
