<article>
    <h2>{{movie.title}}</h2>
    <h4>{{movie.genre}}</h4>
    <p>{{movie.plot}}</p>
    <p>Star: {{#each movie.stars}}{{name}}{{/each}}</p>
    <form action="/movies/{{_id}}/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
</article>