<div class="row">
  <div class="column">
    <ul class="errors-wrp">
      {{#each form.errorFields}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<form action="{{form.action}}" method="POST" class="form">
  <fieldset>
    <div class="row">
      <div class="columns six {{form.titleClass}}">
        <label for="title">Title:</label>
        <input class="u-full-width" type="text" name="title" id="title" value="{{movie.title}}">
      </div>
      <div class="columns six {{form.genreClass}}">
        <label for="genre">Genre:</label>
        <input class="u-full-width" type="text" name="genre" id="genre" value="{{movie.genre}}">
      </div>
    </div>
    <div class="row">
      <div class="column {{form.plotClass}}">
        <label for="plot">Plot:</label>
        <textarea class="u-full-width" name="plot" id="plot" cols="30" rows="20">{{movie.plot}}</textarea>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="column">
        <button class="button-primary" type="submit">{{form.buttonText}}</button>
      </div>
    </div>
  </fieldset>
</form>