<div class="movieCard">
  <div class="cardImage">
    <img src="{{this.img}}" alt="">
    <h1>{{this.title}}</h1>
  </div>
  <div class="cardButton">
    <a class='seeMoreButon' href="/movies/movie/{{this._id}}">See more</a>
    <a class="editButton" href="/movies/movie/{{this._id}}/edit">Edit</a>
    <a class="deleteButton" href="/movies/movie/{{this._id}}/delete">Delete</a>
  </div>
</div>