<h2>Character Details | <%= characterInfo.name %></h2>
<ul>
  <li>
    <img src="<%= characterInfo.imgUrl %>" alt="">
    <h3>Race: <%=characterInfo.species%></h3>
    <h4>Power Level: <%= characterInfo.powerLevel %></h4>
    <p>Catch Phase: <%= characterInfo.catchPhrase %></p>
    <a href="/characters"> All Characters</a>
  </li>
</ul>
