<div class="container2">

<h2> Celebrity</h2>


<h3> Name : {{celebrity.name}}</h3>
<h3> Occupation : {{celebrity.occupation}}</h3>
<h3> CatchPhrase : {{celebrity.catchPhrase}}</h3>
{{!-- <p>{{this.occupation}} </p>
<p>{{this.catchPhrase}}</p> --}}

<a href="/celebrities">Go back to my celebrities</a>
</div>

