<h2>EDIT a MOVIE</h2>

<form action="{{edit/{{movie._id}}" method="post">

  <div class="form-group">

    <label>Title</label>
    <input type="text" name="title" value="{{this.title}}">
    <br>
  </div>

  <div class="form-group">
    <label>Genre</label>
    <input type="text" name="genre" value="{{this.genre}}">
    <br>
  </div>

  <div class="form-group">
    <label>Plot</label>
    <input type="text" name="plot" value="{{this.plot}}">
    <br>
  </div>


  <button type="submit">SAVE CHANGES</button>

</form>