<h2>Details of {{movie.name}}</h2>

<p>Title: {{movie.title}}<br>Genre: {{movie.genre}}<br>Plot: {{movie.plot}}</p>

<p><a href="/movies/edit/{{movie._id}}">Editar</a></p>

<p><a href="/movies"><- Back</a></p>