<h3>{{movie.title}} Info</h3>
<ul>
    <li>Genre: {{movie.genre}}</li>
    <li>Plot: {{movie.plot}}</li>
</ul>

<form action="/movies/{{movie._id}}/delete" method="POST">
    <input type="submit" value="Delete movie">
</form>

<br>

<form action="/movies/{{movie._id}}/edit" method="POST">
    <input type="submit" value="Edit movie">
</form>

<br>
<a href="/movies">Go back!</a>
