<a href="/celebrities/">Go Back</a>

<h2>Edit '{{celebrityInfo.name}}'</h2>


<form action="/celebrities/{{celebrityInfo._id}}/edit" method="post">
  <label for="name">Name</label><input type="text" name="name" id="name" value="{{celebrityInfo.name}}">
  <label for="occupation">Occupation</label><input type="text" name="occupation" id="occupation" value="{{celebrityInfo.occupation}}">
  <label for="catchPhrase">Catchphrase</label><input type="text" name="catchPhrase" id="catchPhrase"  value="{{celebrityInfo.catchPhrase}}">
  <button type="submit">Update celebrity</button>
</form>