<h2>Celebrities</h2>
<ul>
  <% celebrities.forEach((celebrity) => { %>
    <li>
      Celebrity: <%= celebrity.name %> - Occupation: <%= celebrity.occupation %>
      <a href="/celebrities/<%= celebrity._id %>">View Details</a>
      <form action="/celebrities/<%= celebrity._id %>/delete" method="POST">
        <button type="submit">Delete</button>
      <a href="/celebrities/<%= celebrity._id%>/edit">Edit</a>
    </li>
  <%  }) %>
</ul>