<table id="celebrities-list" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Occupation</th>
      <th>Catch phrase</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= celebrity.name %>
        </td>

        <td>
            <%= celebrity.occupation%>
        </td>
        <td><%= celebrity.catchPhrase %></td>
        <td></td>
        <td>
          <a href="/celebrities/<%= celebrity._id %>/edit">Edit</a>

          <form action="/celebrities/<%= celebrity._id %>/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
  </tbody>
</table>