<div class="movies-head">
  <h2><b>Ironhack Cinema</b></h2>
  <h6>Click on the director to learn more</h6>
</div>

<div class="row mx-auto text-center">
  {{#each director}}
  <div class="col-md-3 artist mx-auto d-block text-center">
    <a href="/directors/details/{{ this._id }}">
      <img
        class="card-img-top mx-auto d-block celebrity-thumbnail"
        src="{{ this.image }}"
        alt="{{ this.name }} recent photograph"
        onerror="if (this.src != 'https://cdn.sstatic.net/Sites/stackoverflow/img/404.svg') this.src = 'https://cdn.sstatic.net/Sites/stackoverflow/img/404.svg';"
      />
    </a>

    <div class="card-body text-center">
      <div class="card-title">
        <a href="/directors/details/{{ this._id }}">
          <h4 class="btn-link">{{ this.name }}</h4>
        </a>
      </div>
    </div>
    {{#if this.mine}}
<div class="form-inline justify-content-center">

    <a href="/directors/edit/{{ this._id }}" class="btn btn-secondary btn-sm"
      >Edit Director</a
    >
    <form action="/directors/delete/{{ this._id }}" method="POST">
      <button class="btn btn-danger btn-sm">Delete Director</button>
    </form>
</div>
{{/if}}
  </div>
  {{/each}}
</div>