<h2>Celebrities List</h2>

<ul>
	<% films.forEach(el => {%>
<li>
	<a href="/films/<%= el._id%>/show"> <%= el.name%></a> 
	<form action="/films/<%= el._id%>/delete" method="post" accept-charset="utf-8">		
	<button type="submit">REMOVE</button><br>
	</form>
	<form action="/films/<%= el._id%>/edit" method="get" accept-charset="utf-8">		
	<button type="submit">EDIT</button><br>
	</form>
	Genre: <%=el.genre%><br>
	"<%= el.plot%>"<br>
	<%= el._id%>
</li>
<%})%>
</ul>
<a href="/films/new"><button>Add New Film</button></a>
