<body class="lista">
  <h2>{{name}}</h2>
  <h4><b>Ocupación:</b> {{occupation}}</h4>
  <h4><b>Frase:</b> "{{catchPhrase}}"</h4><hr><br>
    <a href="/celebrities/" class="button">Back</a>
    <a href="/celebrities/delete/{{this._id}}" class="button">Eliminar celebridad</a>
    <a href="/celebrities/edit/{{this.id}}" class="button">Actualizar celebridad</a>
</body>