<h1>Edit {{Celebrity.name}}</h1>



<form action="/celebrities/update/{{Celebrity.id}}" method="POST">

    <label for="">Name</label>
    <input type="text" name="celebName" value="{{Celebrity.name}}">

    <label for="">Occupation</label>
    <input type="text" name="celebOccupation" value="{{Celebrity.occupation}}">

    <label for="">Catchphrase</label>
    <input type="text" name="celebCatchphrase" value="{{Celebrity.catchphrase}}">

    <label for="">Movie</label>
    <select name="celebMovie">
        {{#each movies}}
      <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
        </select>


    <button>Submit Changes</button>



</form>