<h2>Edit Celebrity |  <%= celebrity.name %></h2>
<form action="/celebrities/<%= celebrity._id %>" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value="<%= celebrity.name %>">

	<label for="occupation">Occupation</label>
	<input type="text" name="occupation" id="occupation" value="<%= celebrity.occupation %>">

	<label for="catchPhrase">Catch Phrase</label>
	<input type="text" name="catchPhrase" id="catchPhrase" value="<%= celebrity.catchPhrase %>">

	<button type="submit">Edit Celebrity</button>
</form>