<h2> Edit <%= celebInfo.name %> </h2>

<form action="/celebrities/<%=celebInfo._id%>" method="post">

  <label for="celebName"> Name </label>
  <input  id="celebName" type="text" name="celebName"
   placeholder="<%=celebInfo.name%>">
  <br>

  <label for="celebOccupation"> Occupation </label>
  <input  id="celebOccupation" type="text" name="celebOccupation"
   placeholder="<%=celebInfo.occupation%>">
  <br>

  <label   for="celebPhrase"></label>
  <textarea id="celebPhrase" name="celebPhrase"> Catch Phrase</textarea
   placeholder="<%=celebInfo.catchPhrase%>">
  <br>

  <button> Update </button>

</form>
