<h1>EDIT CELEB PAGE</h1>

<form action="/celebrities/{{_id}}/update" method="post">

<label>Name:</label>
<input type="text" name="name" value="{{name}}">
<br>

<p><label>Occupation:</label>
<input type="text" name="occupation" value="{{occupation}}">
<br>

<p><label>Catchphrase:</label>
<input type="text" name="catchPhrase" value="{{catchPhrase}}">
<br>

<p><label>Headshot URL:</label>
<input type="text" name="image" value="{{image}}">
<br>

<p></p><button type="submit">Update Celebrity</button>


</form>

<p><a href="/celebrities">Back to Celebrities</a></p>