<h1>CELEBRITIES</h1>

{{#each celebsArray}}

    <p><a href="/celebrities/{{this._id}}"><img src="{{this.image}}" class="headshot"></a></p>
    
    <p><a href="/celebrities/{{this._id}}">{{this.name}}</a>

    <p>{{this.occupation}}

    <p>"{{this.catchPhrase}}"
        <br>
        <br>
        <br>
        <br>

{{/each}}