<h1>Celebrities</h1>

<h2>
  <a href="/celebrities/add">Add a celebrity</a>
</h2>

<ul>
  {{#each this.celebrities}}
  <li>
    <a href="/celebrities/{{_id}}">{{name}}</a>

    {{#ifIn id ../currentUser.stars}}
    <b>
      Starred!
      <a href="../auth/unstar/{{_id}}">Unstar</a>
    </b>
    {{else}}
    <b>
      <a href="../auth/star/{{_id}}">Star</a>
    </b>
    {{/ifIn}}

    <hr>
    <form action="/celebrities/{{_id}}/delete" method='post'>
      <input type='submit' value='Delete'>
    </form>
    <form action="/celebrities/{{_id}}/edit" method='get'>
      <input type='submit' value='Edit'>
    </form>
    <hr>


  </li>
  {{/each}}
</ul>