<h2>Welcome to the Celebrity Personal Page!</h2>
<div>
  Name: {{Celebrity.name}}<br/>
  Last Name: {{Celebrity.lastName}}<br/>
  Nationality: {{Celebrity.nationality}}<br/>
  Birthday: {{Celebrity.birthday}}

</div>

<a href="/celebrities/editCeleb/{{Celebrity._id}}">Edit Celebrity!</a></br>
<a href="/celebrities">Return to spiciest database</a>
