
<p><img src="{{image}}" class="headshot"></p>

<h1>{{name}}</h1>

<h2>{{occupation}}</h2>

<p>{{catchPhrase}}</p>

<p><a href="/celebrities/{{_id}}/edit">EDIT CELEBRITY</a></p>

<form action="/celebrities/{{_id}}/delete" method="post">

    <button>DELETE THIS CELEBRITY</button>

</form>

<br>
<br>
<p><a href="/celebrities">Back to Celebrities</a></p>