<h1>The celebritie's list </h1>
<p>Click on the celebrity to check</p>

{{#each celebrities}}
<h2>
  <a href="/celebrity/{{id}}">{{name}}</a>
</h2>
<a href="/celebrity/{{this._id}}/delete">Delete this celebrity</a>
<a href="/celebrity/{{this._id}}/edit">Edit this celebrity</a>
{{else}}
<p class="empty">No content</p>
{{/each}}
<a href="/celebrity/new">Add new celebrity</a>
<a href="/">Go back to HOME</a>