<h1>The movie's list </h1>
<p>Click on the movie to check</p>

{{#each movies}}
        <h2><a href="/movie/{{id}}">{{title}}</a></h2>
       <a href="/movie/{{this._id}}/delete">Delete this movie</a>
         <a href="/movie/{{this._id}}/edit">Edit this movie</a> 
  {{else}}
    <p class="empty">No content</p> 
{{/each}}
 <a href="/movie/new">Add new movie</a> 
<a href="/">Go back to HOME</a>