<h1>Edit {{name}}</h1>

<form action="/celebrities/{{_id}}" method="POST">
  <input type="text" name="name" value="{{name}}">
  <input type="text" name="occupation" value="{{occupation}}">
  <input type="text" name="catchPhrase" value="{{catchPhrase}}">
  <input type="submit" value="Edit">
</form>