<div class="row justify-content-center selected-movie">
  <div class="col-sm">
    <img class="celeb-img" src="{{ celeb.image }}" />
  </div>
  <div class="col-lg movie-info">
    <a class="btn-link" href="/celebrities">Go Back</a>
    <br />
    <br />
    <div class="content-heading">
      <h4>
        <b>{{ celeb.name }}</b>
      </h4>
    </div>

    <h6 class="content-tagline">
      <b> {{ celeb.occupation }}</b>
    </h6>
    <br />
    <blockquote class="blockquote text-left font-italic">
      <p class="mb-0">"{{ celeb.catchPhrase }}"</p>
    </blockquote>
      <a href="/celebrities/edit-celeb/{{ celeb._id }}" class="btn btn-secondary btn-sm"
      >Edit Celebrity Info</a
    >
  </div>
  
</div>
