<form action="'movie/{{movie._id}}/update" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" id="" value="{{movie.tile}}">
  <label for="">Genre:</label>
  <input type="text" name="genre" id="" value="{{movie.genre}}">
  <label for="">Plot:</label>
  <input type="text" name="plot" id="" value="{{movie.plot}}">

  {{!-- array of celebrities in the cast --}}
  <label for="">Cast:</label>
  <input type="text" name="title" id="" value="{{movie.tile}}">

</form>