<h2> this page is for editing {{theMovie.title}}</h2>

<form action="/movies/update/{{theMovie.id}}" method="POST">

  <p> Title </p>
  <input type="text" name="title" value="{{theMovie.title}}">

  <p> Year</p>
  <input type="text" name="year" value="{{theMovie.year}}">

  <p> producer </p>
  <input type="text" name="producer" value="{{theMovie.producer}}">

  <button> Done editing!</button>
</form>