
<div class="theCelebs">


{{#each theMovie}}

<div class="eachCeleb">
    <a href="/movies/{{this._id}}">

        <h3>
            Title:
            {{this.title}}
        </h3>
    </a>
         <h5>
            Director:
            {{this.director}}
        </h5>
          <h5>
            Star:
            {{this.star.name}}
        </h5>
        <p>
            Description:
            {{this.description}}
        <p>
        <img style="width: 150px" src="{{this.image}}" alt="movie image"/>


   {{#if this.isMine}}
    <div class="editBttns">
        <a href="/movies/edit/{{this._id}}">Edit This Movie</a>
        <form action="/movies/delete/{{this._id}}" method="POST">
            <button>Delete</button>
        </form>
    </div>
{{/if}}


</div>
<hr>

{{/each}}
</div>
