<div class="row celeb-row">
  <div class="col-sm-12">


    <hr>{{this.title}} es {{this.genre}} y dice {{this.plot}}
    <br>
    <a href="/movies/{{this.id}}/edit">Edit Movie</a>
    <form action="/movies/{{this._id}}/delete" method="post">
    <button type="submit">DELETE</button>
    </form>

  </div>
</div>