<h1>{{celeb.name}}</h1>
{{celeb.occupation}}
<hr>

<h4>Catch Phrase</h3>
<p>"{{celeb.catchPhrase}}"</p>

<h4>Movies </h3>
{{#each celeb.movies as |movie|}}
  {{movie.title}}
{{/each}}

<hr>
<a href="/celebrities/{{celeb._id}}/edit">Update</a>
<form action="/celebrities/{{celeb._id}}/delete" method="POST">
    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
</form>