<div class="header">
  <h2>Edit {{celebrity.name}}</h2>
</div>
<div class="container box">
<form action="/celebrities/edit/{{celebrity._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{celebrity.name}}">

  <label for="">Occupation:</label>
  <input type="text" name="occupation" value="{{celebrity.occupation}}">

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">

  <button type="submit" class="edit">EDIT</button>
</form>


<a href="/celebrities" class="first add">Back to the list</a>
</div>