<a href="/">Back to LISTS</a>

<h1>All elebrities</h1>
{{#each celebs}}
    {{this.name}}
    {{this.occupation}}
    {{this.catchPhrase}}
    <a href="/celebrities/{{_id}}">See details</a>
    <a href="/celebrities/{{_id}}/edit">Update</a>
    <form action="/celebrities/{{_id}}/delete" method="POST">
        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
    </form>
    <br><br>
{{/each}}

 <b><a href="/celebrities/create">Create your celebrity</a></b>