<h1> Celebrity details </h1>
<p>
Name: <strong><%=celeb.name%></strong>
</p>
<p>
Occupation: <strong><%=celeb.occupation%></strong>
</p>
<p>
Catch phrase: <strong><%=celeb.catchPhrase%></strong>
</p>
<a href="/celebs/<%=celeb.id%>/edit">Edit</a> | <a href="/celebs/<%=celeb.id%>/delete">Delete</a>