<h1>Edit {{Movie.name}}</h1>



<form action="/movies/update/{{Movie.id}}" method="POST">

    <label for="">title</label>
    <input type="text" name="movieTitle" value="{{Movie.title}}">

    <label for="">genre</label>
    <input type="text" name="movieGenre" value="{{Movie.genre}}">

    <label for="">plot</label>
    <input type="text" name="moviePlot" value="{{Movie.plot}}">

    <button>Submit Changes</button>



</form>