<h1>Edit {{movieDetails.name}}</h1>

<form action="/movies/update/{{theMovie._id}}" method="post" enctype="multipart/form-data">

  <label for="">Title</label>
  <input type="text" name="title" value="{{theMovie.title}}">

  <label for="">Genre</label>
  <input type="text" name="genre" value="{{theMovie.genre}}">

  <label>Poster</label>
  <input type="file" name="photo">

  <h6>Add a Celebrity to the cast!</h6>
  <select name="theCelebrity">
        <option value=""></option>

        {{#each celebs}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}

    </select>

  <button>Edit</button>

</form>