<h2>{{movie.title}}</h2>
<h2>Edit this Movie Entry</h2>


<form action="/movies/edit/{{movie._id}}" method="post"> {{!--This route corresponds to the Post route in the movies.js our route file --}}


  <label for="title-input">Title</label>{{!-- IT will connect the forms body to the route and process to mongoDB--}}
  <input type="text" name="editTitle" id="title-input" value="{{movie.title}}" />

  <label for="genre-input">Genre</label>
  <input type="text" name="editGenre" id="genre-input" value="{{movie.genre}}"/>

  <label>Celebrity</label>
    <select name="celebrity" required="true">
      <option value="null"></option>
      {{#each allTheCelebrities}}
      <option value="{{this._id}}">{{this.name}}{{this.lastName}}</option>
      {{/each}}
    </select>
    <br />

  <label for="plot-input">Plot</label>
  <input type="text" name="editPlot" id="plot-input" value="{{movie.plot}}"/>

  <button type="submit">Save Changes!</button>
</form>

{{!--the value attribute is to prefil the form when the user comes into the app page.--}}
