
<p><img src="{{poster}}" class="content-img"></p>

<h1>{{title}}</h1>

<h2>{{genre}}</h2>

<p>{{plot}}</p>

<p><a href="/movies/{{_id}}/edit">EDIT MOVIE</a></p>

<form action="/movies/{{_id}}/delete" method="post">

    <button>DELETE THIS MOVIE</button>

</form>

<br>
<br>
<p><a href="/movies">Back to Movies</a></p>