<h2>{{movieDetails.title}}'s Details</h2>


<h5>{{movieDetails.genre}}</h5>
<p>{{movieDetails.plot}}</p>
{{#each movieDetails.cast}}
  <p>{{this.name}}</p>
{{/each}}
{{!-- <p>{{movieDetails.cast}}</p> --}}

<a href="/movies/edit/{{movieDetails.id}}">
<button>Edit this Movie</button>
</a>