<h1>{{m.title}}</h1>
<hr>
<p>{{m.plot}}</p>
<p><b>Celebrities:</b> 
<a href="/celebrities/{{m.stars._id}}">{{m.stars.name}}</a>
</p><br>

<form action="/movies/{{_id}}/delete" method="POST">
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
</form>
<a href="/movies/{{m._id}}/edit">Edit movie</a><br>
<a href="/movies">Back to all Movies</a><br>