<h2>Movies in details</h2>

{{#if yay}}

<body onload="M.toast({html: '{{yay}}'})">

</body>
{{/if}}

<h4>Title: {{singleMovie.title}}</h4>
<p>Genre: {{singleMovie.genre}}</p>
<p>Plot: {{singleMovie.plot}}</p>
{{#if singleMovie.actors.name}}
<p>Starring: {{singleMovie.actors.name}}</p>
{{/if}}
<div >
  {{#if singleMovie.image}}
  <img src="{{singleMovie.image}}">
  {{else}}
  <img src="/images/cinema.jpg">
  {{/if}}
</div>

<a href="/movies/index" class="btn waves-effect waves-light ">Go back
  <i class="material-icons left">arrow_back</i>
</a>