<h1>{{ movie.title }}</h1>

<h2> {{ movie.genre}} </h2>

<p> {{ movie.plot }} </p>
<a href="/movies">Back to list</a>
<div>
  <a href="/movies/{{ movie._id }}/edit">Edit</a>
</div>

<form action="/movies/{{ movie._id }}/delete" method="post">
  <button type="submit">Delete</button>
</form>