

<h1 style="padding-top: 4rem">{{movie.name}} movie</h1>

<div class="table">
  <ul> 
    <li class="card">
      <img src={{movie.image}} class="card-img" alt={{movie.title}} />
      <h3 class="card-title">{{movie.title}}</h3>
      <div class="card-info">{{movie.director}}</div>
      <div class="card-footer"></div>
    </li>
  </ul>
</div>