<h2>
  Movie Details - 
</h2>
<h1>
  Title: {{this.title}}
</h1>
<h2>
  Celebrity: yo{{Celebrity.name}}yo
</h2>
<h2>
  Genre: {{this.genre}}
</h2>
<h2>
  Plot: {{this.plot}}
</h2>

<a href="/movies/{{_id}}/edit">Edit This Movie</a>
<br>
<br>
<form action="/movies/{{_id}}/delete" method="POST">
    <button>Delete This Movie</button>
</form>