{{> mainNav}}
{{#with movie}}
<h1 class="main-title">Movie detail</h1>
<div class="movie-card">
  <h2 class="movie-card__title">{{title}}</h2>
  <div class="movie-card__info">
    <ul class="movie-card__genre">
      {{#each genre}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p class="movie-card__plot">{{plot}}</p>
  </div>
  <div class="movie-card__actions">
    <a href="/movies/edit/{{_id}}" class="button button--edit">Edit</a>
    <a href="/movies/delete/{{_id}}" class="button button--delete">Delete</a>
  </div>
</div>
{{/with}}