<h1 class="all">MOVIE DETAILS</h1>

<p>Title:</p>
<h2>{{theMovie.title}}</h2>

<p>Genre:</p>
<h2>{{theMovie.genre}}</h2>

<p>Celebrity:</p>

<a href="/celebrities/details/{{theMovie.celebrity._id}}">
<h3>{{theMovie.celebrity.name}}</h3>
</a>


<p>Plot:</p>
<h3>{{theMovie.plot}}</h3>