<header>
  <h2>{{title}}'s details page</h2>
</header>

<section class="row justify-content-around">

  <div class="col-md-4">
    <img src="{{image}}" alt="{{title}}'s portrait">
  </div>

  <div class="col-md-8">

    <header>
      <h4>{{title}}</h4>
    </header>

    <article>
      <h4>Genre: {{genre}}</h4>
    </article>

    <article>
      <h4>Plot:</h4>
      <p>{{plot}}</p>
    </article>

  </div>
</section>