<section class='details'>

    <h2>{{titleHome}}</h2>
    <hr>

    <div class='card border-light mb-3' style='max-width: 75rem;'>

        <div class='card-header'>
            <h3>{{title}}</h3>
        </div>

        <div class='card-body'>
            <h5 class='card-title text-muted'>{{genre}}</h5>
            <p class='card-text'>{{plot}}</p>
        </div>

        <div class='card-footer'>
            <div class='row card-foot'>
                <a class='btn btn-dark' href='/movies/edit?movie_id={{id}}'>Edit</a>
                <a class='btn btn-dark' href='/movies/list'>List</a>
                <a class='btn btn-dark' href='/'>Home</a>
            </div>
        </div>

    </div>
</section>