<a href="/movies">Go Back</a>
<h1>{{movie.title}}</h1>
<h3>{{movie.genre}}</h3>
<p><em>
  {{movie.plot}}
</em></p>
<a href="/movies/{{movie._id}}/edit">Edit</a>
<a href="/movies/{{movie._id}}/delete">Delete</a>