<div class='movie-details-page'>


<h2>Details Page</h2>


<p>Title: {{movie.title}}</p>


<p>Genre: {{movie.genre}}</p>


<p>Plot: {{movie.plot}}</p>

<a href='/celebrities/{{movie.stars._id}}'>
<p>Stars: {{movie.stars.name}}</p>
</a>


</div>


