<h2>Movie Detail</h2>
<div>
  <h3>{{title}}</h3>
  <h4>{{genre}}</h4>
  <h4>{{plot}}</h4>
  <hr>
  <a href="/movies/{{_id}}/delete">Delete Movie</a>
  <a href="/movies/{{_id}}/update">Edit Movie</a>
  <a href="/movies">Go back to movies</a>
</div>