<div class="container">
    <h1 class="mb-5">Movies Details</h1>
    <div class="row">
        <div class="col-3">
            <img class="cel-photo" src="{{mov.plot}}" alt="{{mov.title}}">
        </div>
        <div class="col-9">
            <a href="/movies">Go back</a>
            <h1 class="go-back">{{mov.title}}</h1>
            <h5> <strong>Genre:</strong> {{mov.genre}}</h5>
            <p>{{mov.description}}</p>
        </div>
    </div>

</div>