<h2>Edit movie: {{title}}</h2>

<form action="/movies/{{id}}/edit" method="POST">
    <label>
    Title
      <input type="text" name="title" value="{{title}}">
    </label>

     <label>
    Genre
      <input type="text" name="genre" value="{{genre}}">
    </label>

     <label>
    Plot
      <textarea name="plot" cols="30" rows="3">{{plot}}</textarea>
    </label>

    <button type="submit">Update movie</button>
</form>