<h1>Edit {{theMovie.title}}</h1>

<form action="/movies/{{theMovie._id}}/update" method="POST">


  <label for="">Title:</label>
  <input type="text" name="title" value="{{theMovie.title}}">

  <label for="">Genre:</label>
  <input type="text" name="genre" value="{{theMovie.genre}}">

  <label for="">Plot:</label>
  <input type="text" name="plot" value="{{theMovie.plot}}">

  <button type="submit">Save Changes</button>


</form>