<h2>Edit {{oneMovie.title}}</h2>

<form action="/movies/{{oneMovie._id}}" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" value="{{oneMovie.title}}">
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" class="form-control" value="{{oneMovie.genre}}">
        <label for="plot">Plot:</label>
        <input type="text" id="plot" name="plot" class="form-control" value="{{oneMovie.plot}}">
        <label for="cast">Cast:</label>
        <select name="cast" id="cast" class="mt-2" multiple>
            {{#each celebrities}}
                <option value="{{_id}}" {{#if selected}}selected="selected"{{/if}}>{{name}}</option>
            {{/each}}
        </select><br>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a href="/movies" class="btn btn-danger">Cancel</a>
    </div>
</form>