<div class="movie-edit">
    <h2>Edit Movie</h2>
    {{> site-error}}
    <form method="POST" action="/movies/{{mov._id}}">

        <label for="title">Title:</label>
        <input name="title" type="text" value="{{mov.title}}" required />

        <label for="genre">Genre:</label>
        <input name="genre" type="text" value="{{mov.genre}}" required />

        <label for="plot">Plot:</label>
        <input name="plot" type="text" value="{{mov.plot}}" required />

        <label for="celebrity">Select a Starring Celebrity</label>
        <select name="celebrity">
            {{#each celebs}}
            {{#if this.isTheChosenOne}}
            <option selected value="{{this._id}}">{{this.name}}</option>
            {{else}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/if}}
            {{/each}}
        </select>
        <button class="submit">Submit</button>
        {{> form-error}}
    </form>
</div>