<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Update movie: {{name}}</h2>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" action="/movies/{{_id}}/edit" method="post">
        <div class="form-group">
            <label for="name-input" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-10">
                <input type="text" name="name" id="name-input" value="{{name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="genre-input" class="col-sm-2 control-label">Genre:</label>
            <div class="col-sm-10">
                <input type="text" name="genre" id="genre-input" value="{{genre}}">
            </div>
        </div>
        <div class="form-group">
            <label for="plot-input" class="col-sm-2 control-label">Plot:</label>
            <div class="col-sm-10">
                <input type="text" name="plot" id="plot-input" size="100" value="{{plot}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save changes</button>
            </div>
        </div>
    </form>
    </div>
</div>