<h2>Edit movie</h2>

<form action="/movies/{{movie._id}}" method="post">
<label for="title">Title of the movie</label>
<input type="text" id="title" value="{{movie.title}}" name="title">
<label for="genre">Genre</label>
<input type="text" id="genre" value="{{movie.genre}}" name="genre">
<label for="plot">Plot</label>
<input type="text" id="plot" value="{{movie.plot}}" name="plot">
<label for="cast">Casting</label>
<select id="cast" name="cast" multiple>
    {{#each movie.cast }}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>
<button>Edit</button>
</form>