
<h2>Edit class</h2>


<form action="/movies/edited/{{movie._id}}" method="POST">


<p>Title</p>
<input type="text" name="theTitle" value="{{movie.title}}">


<p>Genre</p>
<input type="text" name="theGenre" value="{{movie.genre}}">


<p>Plot</p>
<input type="text" name="thePlot" value="{{movie.plot}}">

<p>Actors</p>
<select name="theActors">

  {{!-- <option value="" selected disabled>Please Select One</option> --}}

{{#each celebs}}

{{#if this.chosenOne}}
<option value="{{this._id}}" selected disabled>{{this.name}}</option>
{{else}}
<option value="{{this._id}}">{{this.name}}</option>
{{/if}}
{{!-- the array of authors gets pulled from the Database  --}}

{{/each}} 


</select>

<button>Save</button>

</form>