<h2>Edit the movie: {{title}}</h2>

<form action="/movies/{{_id}}/edit" method="post">
	<label for="title">Title of the movie:</label>
	<input type="text" name="title" id="title" value="{{title}}">
	<label for="genre">Genre of the movie:</label>
	<input type="text" name="genre" id="genre" value="{{genre}}">
	<label for="plot">The plot of the movie:</label>
	<input type="text" name="plot" id="plot" value="{{plot}}">
	<button type="submit">Save the changes</button>
</form>

