<div class="movie-edit">
    <h2>Edit Movie</h2>
    <div class="error">{{error}}</div>
    <form method="POST" action="/movies/{{mov._id}}">

        <label for="title">Title:</label>
        <input name="title" type="input" value="{{mov.title}}" required />

        <label for="genre">Genre:</label>
        <input name="genre" type="input" value="{{mov.genre}}" required />

        <label for="plot">Plot:</label>
        <input name="plot" type="input" value="{{mov.plot}}" required />

        <label for="celebrity">Select a Starring Celebrity</label>
        <select name="celebrity">
            {{#each celebs}}
            {{#if this.isTheChosenOne}}
            <option selected value="{{this._id}}">{{this.name}}</option>
            {{else}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/if}}
            {{/each}}
        </select>
        <br /><br />
        <button>Submit</button>

    </form>
</div>