
<form action="/movies/{{_id}}/edit" method="POST">
<input name="id" type="hidden" value="{{_id}}" required>
<input name="title" type="text" placeholder="{{title}}" required>
<input name="genre"type="text" placeholder="{{genre}}" required>
<input name="plot"type="text" placeholder="{{plot}}" required>
<button type="submit">Modificar</button>
</form>
