<h2>Edit {{title}}</h2>

<form action="/movies/{{id}}" method="POST">
  <input type="text" name="title" value="{{title}}" required="true">
  <input type="text" name="genre" value="{{genre}}" required="true">
  <input type="text" name="plot" value="{{plot}}" required="true">
  <input type="submit" value="Save">
</form>

<a href="/movies/{{id}}">Cancel</a>