<h2>Edit {{movie.name}}</h2>

<form action="/movies/{{movie._id}}" method="POST">
    <label for="">Name:</label>
    <input type="text" name="title" value="{{movie.title}}">
    <label for="">Occupation:</label>
    <input type="text" name="genre" value="{{movie.genre}}">
    <label for="">Catch phrase:</label>
    <input type="text" name="plot" value="{{movie.plot}}">
    <button type="submit">EDIT</button>
</form>

<p><a href="/movies">Go back</a></p>