<h2>Edit {{movie.title}}</h2>
<form action="/movies/{{movie._id}}" method="POST">
    <label for="">Title:</label>
    <input type="text" name="title" value="{{movie.title}}">

    <label for="">Genre:</label>
    <input type="text" name="genre" value="{{movie.genre}}">

    <label for="">Plot:</label>
    <input type="text" name="plot" value="{{movie.plot}}">

    <button type="submit">Update</button>
</form>