<h2>Edit <i>{{movie.title}}</i></h2>
<form action="/movies/{{movie._id}}" method="post">
    <label>Title:</label>
    <input type="text" name="title" value="{{movie.title}}">

    <label>Genre:</label>
    <input type="text" name="genre" value="{{movie.genre}}">

    <label>Plot:</label>
    <input type="text" name="plot" value="{{movie.plot}}">

    <button type="submit">EDIT</button>
</form>