<h2>Editing a movie</h2>
<a href="/movies">Back</a>
<form action="/movies/{{movie._id}}" method="post">
  <div>
    <label for="title">Movie Title</label>
    <input type="text" name="title" id="title" placeholder="Input movie title" value="{{movie.title}}">
  </div>

  <div>
    <label for="genre">Movie Genre</label>
    <input type="text" name="genre" id="genre" placeholder="Input movie genre" value="{{movie.genre}}">
  </div>

  <div>
    <label for="plot">Plot</label>
    <input type="text" name="plot" id="plot" placeholder="Input movie plot"
      value="{{movie.plot}}">
  </div>

  {{#if errorMessage}}
  <p>{{errorMessage}}</p>
  {{/if}}

  <button type="submit">Edit</button>
</form>