<form action="/movies/{{data._id}}" method="POST">
  <label for="title">Title</label>
  <input type="text" name='title' value='{{data.title}}'>
  <label for="genre">Genre</label>
  <input type="text" name='genre' value='{{data.genre}}'>
  <label for="plost">Plot</label>
  <input type="text" name='plost' value='{{data.plot}}'>
  <select name="actor">
    {{#each actors}}
    {{#if this.selected}}
    <option value="{{this._id}}" selected="selected">{{this.name}}</option>
    {{else}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/if}}
    {{this.name}}</option>
    {{/each}}
  </select>
  <button type='submit'>Submit</button>
</form>
