
<h2>Edit {{data.movie.title}}</h2>


<form action="/update-movie/{{data.movie._id}}" method="POST">


<p>Title</p>

<input type="text" name="title" value=" {{data.movie.title}}">


<p>Genre</p>
<input type="text" name="genre" value="{{data.movie.genre}}">


<p>Plot</p>
<input type="text" name="plot" value="{{data.movie.plot}}">

<p>Actors</p>
<select name="stars">

  {{#each data.stars}}
  
  <option selected value="{{_id}}">{{name}}</option>
  {{else}}
     <option value="{{_id}}">{{name}}</option>

  {{/each}}
</select>

<button>Save</button>

</form>