<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <h2> Edit movie {{name}}</h2>
      <form method="post" action="/movies/{{_id}}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="{{title}}" value="{{title}}">
        <br>
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" placeholder="{{genre}}" value="{{genre}}">
        <br>
        <label for="plot">Plot:</label>
        <input type="text" name="plot" placeholder="{{plot}}" value="{{plot}}">
        <br>
        <input type="submit" value="Update movie">
      </form>
    </div>
  </div>
</div>