<h2>Edit Movie</h2>
{{#if errorMessage}}
    <p style="color:red;">{{errorMessage}}</p>
{{/if}}
<form method="POST" action="/movies/{{movie.id}}">
    <label>Title <br><input name="title" type="text" value="{{movie.title}}"/></label><br><br>
    <label>Genre <br><input name="genre" type="text" value="{{movie.genre}}"/></label><br><br>
    <label>Plot <br><input name="plot" type="text" value="{{movie.plot}}"/></label><br><br>
    <input type="submit" value="Update Movie"/>
</form>

<br><br>
<a href="/movies">Back</a>

