<h4>Edit</h4>
<h2>{{Movie.title}}</h2>


<form action="/celebrities/update/{{Movie._id}}" method="POST">


<p>Title</p>

<input type="text" name="theTitle" value=" {{Movie.title}}">



<p>Celebrity</p>
{{!-- <input type="text" name="theOccupation" value="{{Celebrity.occupation}}"> --}}
<select name="theCelebrity">

    <option value="" selected disabled>Please Select One</option>

{{#each celebs}}

<option value="{{this._id}}">{{this.name}}</option>

{{/each}} 

</select>

<p>Genre</p>
<input type="text" name="theGenre" value="{{Movie.genre}}">

<p>Plot</p>
<input type="text" name="thePlot" value="{{Movie.plot}}">




<button class="button">Save</button>

</form>