<h2>Edit movies</h2>

<form method="post" action="/movies/{{_id}}">

    <label for="title">{{title}}</label>
    <input type="text" id="title" name="title" value="{{title}}">

    <label for="genre">{{genre}}</label>
    <input type="text" id="genre" name="genre" value="{{genre}}">

    <label for="plot">{{plot}}</label>
    <input type="text" id="plot" name="plot" value="{{plot}}">

    <button class="btn">Submit</button>

</form>