<h2>Edit movie: {{movie.title}}</h2>

<form action="/movies/{{movie.id}}" method="POST">

<p>Title</p>
<input type="text" name="title" value="{{movie.title}}">

<p>Genre</p>
<input type="text" name="genre" value="{{movie.genre}}">

<p>Plot</p>
<input type="text" class="plot" name="plot" value="{{movie.plot}}">
<button style="background-color: gray">Save</button>

<p>Image</p>
<input type="text" name="image" value="{{movie.image}}">

<select name="celebrity">
  <option value="" selected disabled>Please Select One</option>

  {{#each allTheCelebrities}}
  {{#if this.match}}
  <option selected value="{{this._id}}">{{this.name}}</option>

  {{else}}
  <option value="{{this._id}}">{{this.name}}</option>
  {{/if}}
  {{/each}}
</select>

</form>