<h2>Edit a Movie</h2>

<form action="/movies/{{movie._id}}" method="POST">
  <div>
    <input type="text" name="title" placeholder="{{movie.title}}">
  </div>
  <div>
    <input type="text" name="genre" placeholder="{{movie.genre}}">
  </div>
  <div>
    <input type="text" name="plot" placeholder="{{movie.plot}}">
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

{{#if error}}
  <div style="border:red solid 2px">{{error.message}}</div>
{{/if}}