<div class="card col-lg-6 form align-items-center">
  <form action="/movies/{{_id}}" method="POST">
    <h1 class="mt-4 mb-2">Add a new film to the list</h1>
    <label class="mt-3" d-block for="title">Title</label>
    <input class="d-block w-100" type="text" name="title" required title="Please input a valid title" onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" placeholder="Raphael delaGhetto"
      value="{{title}}">
    <br>
    <label class="mt-3" d-block for="genre">Genre</label>
    <input class="d-block w-100" type="text" name="genre" required title="Please input a valid genre"
      onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"
      placeholder="Chemical weapon human test subject" value="{{genre}}">

    <br>
    <label class="mt-3" d-block for="plot">Plot</label>
    <input class="d-block w-100" type="text" name="plot" required title="Please input a valid plot"
      onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" placeholder="Who let the dogs out?"
      value="{{plot}}">
    <br>
    <label class="mt-3 d-block" for="image">Image</label>
    <input class="d-block w-100" type="text" name="image" required title="Please input a valid image URL" onchange="
        this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" placeholder="Image URL goes here"
      value={{image}}>
    <br>
    <button type="submit" class="btn my-4 btn-primary w-100">Edit this masterpiece</button>
  </form>

  {{#if errorMessage}}
  <h4 class="rounded-pill text-center font-weight-bold py-3 px-2 bt-danger text-light font-weight-bold mb-5">
    {{ errorMessage}}</h4>
  {{/if}}

</div>