{{!-- /*---movies/edit.hbs---*/ --}}

<h1>Edit Movie</h1>

<form action="/movies/{{movie._id}}" method="post">
  <label for="">Title:</label>
  <input value="{{movie.title}}" type="text" name="title">
  <br><br>
  <label for="">Genre:</label>
  <input value="{{movie.genre}}" type="text" name="genre">
  <br><br>
  <label for="">Plot:</label>
  <input value="{{movie.plot}}" type="text" name="plot">
  <br><br>
  <label for="authors-select">Cast:</label>
  <select name="cast" id="cast-select" multiple>
     
     {{#each movie.cast}}
    <option selected value="{{this._id}}">{{this.name}}</option>
    {{/each}}

    {{#each newAvailableCelebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}

  </select>
  <br><br>
  <button type="submit">Update</button>
</form>