
<h2>Edit class</h2>


<form action="/movies/edited/{{movie._id}}" method="POST">


<p>Title</p>
<input type="text" name="theTitle" value="{{movie.title}}">


<p>Genre</p>
<input type="text" name="theGenre" value="{{movie.genre}}">


<p>Plot</p>
<input type="text" name="thePlot" value="{{movie.plot}}">

<p>Actors</p>
<input type="text" name="theActors" value="{{movie.actors}}">

<button>Save</button>

</form>