<h2>Edit movie</h2>
<form action="/movies/{{id}}" method="POST">
    <label for="movie-title">Title:</label>
    <input type="text" name="title" value="{{title}}">

    <label for="movie-genre">Genre:</label>
    <input type="text" name="genre" value="{{genre}}">

    <label for="movie-plot">Plot phrase:</label>
    <input type="text" name="plot" value="{{plot}}">

    <button type="submit">Submit</button>
</form>

{{#if error}}
    <p>{{error}}</p>
{{/if}}