<h2>Edit Movie</h2>
<form action="/movies/{{_id}}/edit" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp"
            value="{{title}}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Occupation</label>
        <input type="text" name="genre" class="form-control" id="genre" value="{{genre}}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Catch Phrase</label>
        <input type="text" name="plot" class="form-control" id="plot" value="{{plot}}">
    </div>
    <input type="hidden" name="id" value="{{_id}}">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
