<section>
  <a class="arrow-back" href="/movies/{{mov._id}}">←</a>
  <div class="board">
    <div class="board2">
      <form class="form" action="/movies/{{mov._id}}" method="POST">
        <label>TITLE:</label>
        <input type="text" name="title" value="{{mov.title}}">
        
        <label>MAIN ACTOR:</label>
        <select name="celebrity">
          {{#each celebrities}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>

        <label>GENRE:</label>
        <input type="text" name="genre" value="{{mov.genre}}">
        <label>PLOT:</label>
        <input type="text" name="plot" value="{{mov.plot}}">
        <button class="btn">EDIT</button>  
      </form>
    </div>
  </div>
</section>