<h2>This is editing a movie</h2>
<br>
<form action="/movies/{{movie.id}}" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" value="{{movie.title}}"/>
  <label for="genre">Genre:</label>
  <input type="text" name="genre" value="{{movie.genre}}"/>
  <label for="plot">Plot:</label>
  <input type="text" name="plot" value="{{movie.plot}}"/>
  {{!-- <label for="cast">Cast:</label>
  <input type="text" name="cast" value="{{#each movie.cast}}{{name}}{{/each}}"/> --}}

  <button>SAVE</button>
</form>
<br><br>
<a href="/movies">Back to the main list</a>