<h1>Edit {{theMovie.name}}</h1>


<form action="/movies/update/{{theMovie._id}}" method="POST">

<label>Title</label>
<input name="title" type="text" value="{{theMovie.title}}">

<label>Genre</label>
<input name="genre" type="text" value="{{theMovie.genre}}">

<label>Plot</label>
<input name="plot" type="text" value="{{theMovie.plot}}">
<div>
<label>Actor</label>
<select class ="browser-default" name="actor" id="">

  <option value="null">-</option>
  {{#each theCelebs}}
  <option value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>
</div>
<div>
<label>Actor 2</label>
<select class ="browser-default" name="actor" id="">

<option value="null">-</option>
  {{#each theCelebs}}
  <option value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>
</div>
<div>
<label>Actor 3</label>
<select class ="browser-default" name="actor" id="">

<option value="null">-</option>
  {{#each theCelebs}}
  <option value="{{this._id}}">{{this.name}}</option>
  {{/each}}
</select>
</div>
<div class="center-align"><button class="waves-effect waves-light btn-large"> Save Changes</button></div>

</form>
