<div class="new">
    <div>
        <a href="/movies">Back</a>
    </div>
    <div>
        <h3>EDIT {{mov.title}}</h3>
        <form action="/movies/{{mov._id}}" method="POST">
            <input type="hidden" name="_id" value="{{mov._id}}">
            <input type="text" name="title" placeholder="Title" value="{{mov.title}}">
            <input type="text" name="genre" placeholder="Genre" value="{{mov.genre}}">
            <input type="text" name="plot" placeholder="Plot" value="{{mov.plot}}">
            <select name="cast" multiple>
                {{#each celebs}}
                    {{#if_eq_ar this.name @root.mov.cast}}
                        <option value="{{this.name}}" selected="selected">{{this.name}}</option>
                    {{else}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/if_eq_ar}}
                {{/each}}
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>