<h1>Edit Movie</h1>

<ul>
    {{#with movie}}

    <li>{{title}}</li>
    <li>{{genre}}</li>
    <li>{{plot}}</li>

    {{/with}}
</ul>

{{#with movie}}

<form action="/movies/{{_id}}/edit" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{title}}">

    <label for="genre">Genre</label>
    <input type="text" name="genre" value="{{genre}}">

    <label for="plot">Plot</label>
    <input type="text" name="plot" value="{{plot}}">

    <button type="submit">Edit Movie</button>
</form>

{{/with}}