<div class="header d-flex justify-content-between align-items-center mb-3">
    <h2>{{title}}</h2>
</div>

<form method="POST" {{#if movie}} action="/movies/{{ movie._id }}" {{else}} action="/movies" {{/if}}>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" {{#if movie.title}} value="{{ movie.title }}" {{/if}}>
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" {{#if movie.genre}} value="{{ movie.genre }}" {{/if}}>
    </div>
    <div class="form-group">
        <label for="plot">Plot</label>
        <textarea class="form-control" id="plot" name="plot">{{#if movie.plot}} {{ movie.plot }} {{/if}}</textarea>
    </div>
    <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" href="/movies">Cancel</a>
        <button type="submit" class="btn btn-primary">
            {{#if movie}}
                Update
            {{else}}
                Create
            {{/if}}
        </button>
    </div>
</form>