<h1>All movies</h1>
<hr>
<a href="/create-one-movie">create one movie</a>
<hr>
{{#each movies}}
  <div class="movie">
    <p>{{this.title}}</p>
    <p>{{this.genre}}</p>
    <p>{{this.plot}}</p>
    <a href="/movies/{{this._id}}">see this movie's details</a>
    <form method="post" action="/delete-movie/{{this._id}}">
      <button>delete</button>


    </form>

    <a class="btn" href="/movies/{{this._id}}/edit"><button>Edit</button></a> 
  </div>
  <hr>
{{/each}}