<h1>MOVIES INDEX </h1>

<div class="row justify-content-around">

{{#each data}}

<div class="card text-center  border-primary col-md-3">

        <h2><a href="/movies/show/{{_id}}">{{title}}</a></h2>
        <div class="row justify-content-around">
            <h4><a class="btn btn-danger" href="/movies/delete/{{_id}}">Delete</a></h4>
            <h4><a class="btn btn-primary " href="/movies/show/{{_id}}">Show Details</a></h4>
        </div>

    </div>

    
{{/each}}

</div>

<h5><a class="btn btn-success createbtn"  href="/movies/new">Create new Movie</a></h5>


{{#if errorMessage}}
    <p style="color: red; font-weight: bold; "> {{errorMessage}} </p>
{{/if}}