<h1>{{title}}</h1>
<a href="/movies/new">Add new movie</a>
{{#each movies}}
<h3><a href="/movies/{{_id}}">{{this.title}}</a></h3>
<button><a href="/movies/{{_id}}/edit">Edit</a></button>
<form action="/movies/{{_id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
{{/each}}