{{> mainNav}}
<h1 class="main-title">Movies ({{allMovies.length}})</h1>
<a href="/movies/new" class="link-add">Add a new movie</a>
<ul class="crud">
  {{#each allMovies}}
  <li>
    {{title}}
    <div class="crud__actions">
      <a href="/movies/detail/{{_id}}">View</a>
      <a href="/movies/edit/{{_id}}">Edit</a>
      <a href="/movies/delete/{{_id}}">Delete</a>
    </div>
  </li>
  {{/each}}
</ul>