<h1>{{title}}</h1>
<h2>List of all movies</h2>

{{#each movies}}
   <ul>
       <li>
            <a href="/movies/{{id}}">{{title}}</a>
            <br>
            <button type="button" class="btn btn-dark"><a href="/movies/{{id}}/edit">Edit movie</a></button>
            <br>
            <form action="/movies/{{id}}/delete" method="POST">
                <button class="btn btn-danger">Delete movie</button>
            </form> 
        </li>
   </ul>

{{/each}}

<br>

<div>
    <a class="btn btn-primary" href="/movies/new" role="button">Add new movie</a>
</div>

