<section class="displayInfo">
<h2>Movies</h2>
  <ul>
    {{#each allMovies}}
    <li>
      <h3>{{title}}</h3>
      <a href="/movie/{{_id}}">See more!</a>
      <div class="form">
        <form action="/movies/{{_id}}/delete" method="POST">
          <input type="hidden" name="id" class="text" value="{{_id}}">
          <button type="submit" class="delete"><i class="far fa-trash-alt"></i></button>
        </form>
        <form action="/movies/{{_id}}/edit" method="POST">
          <input type="hidden" name="id" class="text" value="{{_id}}">
          <button type="submit" class="edit"><i class="far fa-edit"></i></button>
        </form>
      </div>
    </li>
    {{/each}}
    <li class="newElement"><a href="/movies/new">Create new movie</a></li>
  </ul>
</section>