<div class="container">
  <br>
  <br>
  <h2>Movies</h2>
  <br>
  <div class="row">
    {{#each movies}}
    <div class="col-4">
      {{!-- <h3>{{this.title}} <br></h3>
      <h4>{{this.author.name}} {{this.author.lastName}}</h4> --}}
      <p>{{this.title}}</p>
      <a href="/movies/{{this._id}}">
        <button class="btn btn-secondary">Show details</button>
      </a>
      <form action="/movies/{{this._id}}/delete" method="post">
        <button class="btn btn-warning" type="submit">Delete Movie</button>
      </form>
    </div>
    {{/each}}
  </div>
</div>
<br>
<br>
<div class="container">
  <a href="/movies/new">
    <button class="btn btn-secondary">Add another Movie</button>
  </a>
  <a href="/">
    <button class="btn btn-secondary">Return to Start Page</button>
  </a>
</div>