<h1>These are 3 movies</h1>
{{#each movies}}
<div>
    <a href= "/movies/{{this._id}}"><p>{{this.title}}</p></a>
    <p>{{this.genge}}</p>
    <p>{{this.plot}}</p>
     <form action="/movies/{{this._id}}/delete" method="POST">
    <button>Delete Movie</button>
    </form>
    <form action="/movies/{{this._id}}/edit" method="GET">
        <button>Edit</button>
        </form>
    {{!-- <form action="/celebrities/{{this._id}}/delete" method="POST">
    <button>Delete Star</button>
    </form>
    <form action="/celebrities/{{this._id}}/edit" method="GET">
        <button>Edit</button>
        </form> --}}
</div>
{{/each}}



<a href="/movies/new">Make a new Movie</a>