<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

<h2>Estas son las Pelis:</h2>

{{#each allTheMovies}}

<p> {{title}}

<a href="/movies/{{_id}}">details</a>
<a href="/movies/{{this.id}}/delete"></button type="submit"></button>delete!</button></a>


<form action="/movies/{{this.id}}/delete" method="post">

    <a href="/movies/{{this.id}}/delete"></a>
    <button type="submit">delete!</button>


</form>


</p>

{{/each}}


<a href="/newito">Create a movie! </a>

<a href='/'>Go back!</a>

</div>
</div>