<div class="row text-center">
  <h2 class="text-center">Movies</h2>
  {{#each movies as |movie|}}
  <div class="card text-center m-1" style="width: 20rem;">
    <div class="card-body">
      <a class="text-decoration-none" href="/movies/{{_id}}">
        <h5 class="card-title m-2">{{title}}</h5>
      </a>
      <p class="card-title m-2">{{genre}}</p>
      <p class="card-title m-2">{{plot}}</p>
    </div>
    <div>
      <button type="submit" class="btn btn-outline-secondary mb-2"><a class="text-reset text-decoration-none"
          href="/movies/{{_id}}/edit">Edit</a></button>
      <form action="/movies/{{id}}/delete" method="POST">
        <button type="submit" class="btn btn-outline-danger mb-2">Remove</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>
<div class="text-center m-4">
  <a href="/movies/new" class="btn btn-outline-info btn-lg">Create movie</a>
</div>