<h2>Movies</h2>

<a href="/">Home</a><br>

<a href="/movies/add-movie">Add a new movie</a>

{{#each theMovies}}


<h3>{{this.title}}</h3>
<h3>{{this.id}}</h3>

<hr>
<a href="/movies/{{id}}">Details</a>

<a href="/movies/edit/{{id}}">Update</a>

<hr>
<form action="/movies/delete/{{id}}" method="POST">
    <button type="submit">Delete</button>
</form>

{{/each}}