<div class="container py-3">
    <h2 class="py-3">Movie list{{#if movie_search}} matching title '{{movie_search}}' {{/if}}</h2>
    {{#if results}}<h5 class="mb-3">({{results}} movies){{else}}No results</h5> {{/if}}
    <div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
    {{#each movies}}
    <div class="col">
        <div class="card">
            <div class="card-header fw-bold fs-4">
                {{title}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>"{{plot}}"</p>
                <footer class="blockquote-footer"><cite title="Source Title">{{genre}}</cite></footer>
                </blockquote>
                <a href="/movies/{{_id}}"><button type="button" class="btn btn-secondary mt-3">View details</button></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
    <div class="fixed-bottom container">
        <p class="text-end">
            <a href="/movies/new"><button type="button" class="btn btn-success">[+] Add Movie</button></a>
        </p>
    </div> 
</div>


