<h1>This is the movies index page.</h1>
<hr>

{{#each theMovieList}}

<div>
<a href="/movies/{{this._id}}">
<h2>Title: {{this.title}}</h2></a>

<h3>Genre: {{this.genre}}</h3>

<p>Plot: {{this.plot}}</p>

<form action="/movies/edit/{{this._id}}"><button>Edit This Movie</button></form>
<form action="/movies/delete/{{this._id}}" method="POST"><button>Delete This Movie</button></form>

</div>

<hr>

<form action="/movies/create/"><button>Create New Movie</button></form>

{{/each}}
