<h1>Aqui las movies</h1>
{{#each listMovies}}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.genre}}</p>
        <p class="card-text">{{this.plot}}</p>
        <a class="btn btn-primary" href="/movie/{{id}}">Ver más</a>
        <a class="btn btn-secondary" href="/movie/edit/{{_id}}">Editar</a>
        <a class="btn btn-danger" href="movie/delete/{{_id}}">Borrar</a>
      </div>
    </div>
  </div>
</div>
{{/each}}
<a class="btn btn-primary" href="/movie/create">Crear pelicula</a>
