<h2>Movie Details</h2>
<p>Title: {{movie.title}}</p>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>
<p>Cast:</p>
{{#each movie.cast}}
<p>{{this.name}}</p>
{{/each}}

<form action="/movies/{{movie._id}}/delete" method="POST">
    <button type="submit">Delete Movie</button>
</form>

<form action="/movies/{{movie._id}}/edit" method="GET">
    <button type="submit">Edit Movie</button>
</form>
