<h1>{{movie.title}}</h1>	
<strong>Genre</strong>: {{movie.genre}} <br>	
<strong>Plot</strong>: {{movie.plot}} <br>	
	
<p>	
	<a href="/movies/{{movie._id}}/edit">Edit</a><br>
	<a href="/movies/{{movie._id}}/delete">Delete</a><br>
</p>	