
<h2>{{movie.title}}</h2>
<strong>{{movie.genre}}</strong>
<br>
<p>{{movie.plot}}</p>
<br>
<p>{{movie.cast.name}}</p>
<br>
<a href="/movies/{{movie.id}}/delete">Delete</a>

<a href="/">Go back</a>
