<div class=" mx-4 my-2 text-center align-items-center">
<h1> Details for {{title}}: Watch this shit if you haven't already!</h1>
  <img class="posters" src="{{image}}" alt="">
  <div>
    <p class="my-1 font-weight-bold">{{title}}</p>
    <p class="my-1">{{genre}}</p>
    <p class="my-1 text-muted font-italic">{{plot}}</p>
  </div>
</div>