<h1>{{movie.title}} details</h1>
<a href="/movies">Back To Movie List</a>
<hr>
<ul>
  <li><strong>Title:</strong> {{ movie.title }}</li>
  <li><strong>Genre:</strong> {{ movie.genre }}</li>
  <li><strong>Plot:</strong> {{ movie.plot }}</li>
  {{!-- Cast will be out untill the program covers the select function --}}
  {{!-- <li><strong>Cast:</strong> {{ movie.cast }}</li> --}}
</ul>
<form action="/movies/{{movie._id}}/delete" method="post">
  <button type="submit" class="delete-button">Remove Movie</button>
</form>