<h3>{{title}}</h3>
<h3>Genre</h3>
    {{#each genre}}
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}
<h3>{{year}}</h3>
<h3>{{director}}</h3>
<h3>{{plot}}</h3>

<a href="/movies">Back to Movies page</a>
<a href="/">Back to the Home page</a>


