 <ul>
    <li>
      <h2>{{{movie.title}}}</h2>
      <p>Genre: {{{movie.genre}}}</p>
      <p>Plot: {{movie.plot}} </p>
    </li>
    
</ul>

 <a class= "button" href="/movies/">Go back</a>
      <a class= "button" href="/movies/{{movie._id}}/delete">Delete</a>
      <a class= "button" href="/movies/{{movie._id}}/edit-movie">Edit</a>