<div class="col">
    <div class="row">
        <h2>{{#if title}}Edit movie: <b>{{title}}</b>{{else}}Create movie{{/if}}</h2>
    </div>
    <div class="row">
        <form action="/movies/{{#if title}}{{id}}/edit{{else}}movieForm{{/if}}" method="post">
            <div class="form-group">
                <label for="title">Title: </label>
                <input class="form-control" type="text" name="title" id="title" value="{{title}}" required>
            </div>
            <div class="form-group">
                {{!-- <label for="genre">Genre: </label>
                <input class="form-control" type="text" name="genre" id="genre" value="{{genre}}" required> --}}
                
                <label for="genre">Genre</label>
                <select class="form-control" name="genre" id="genre" required>
                    <option disable selected value="{{genre}}">{{genre}}</option>
                    <option value="{{genre}}"> Drama </option>
                    <option value="{{genre}}"> Comedy </option>
                    <option value="{{genre}}"> Action </option>
                    <option value="{{genre}}"> Fantasy </option>
                    <option value="{{genre}}"> Horror/Thriller </option>
                    <option value="{{genre}}"> Romance </option>
                    <option value="{{genre}}"> Other </option>
                </select>
            </div>
            <div class="form-group">
                <label for="plot">Plot: </label>
                <textarea class="form-control" type="text" id="plot" name="plot" value="{{plot}}" rows="4" cols="50"
                    required>{{plot}}</textarea>
            </div>
            {{#unless title}}
            <div class="form-group">
                <label for="userName-select">Created by</label>
                <select class="form-control" name="userName" id="userName-select" required>
                    <option disable selected value=""></option>
                    {{#each users}}
                    <option value="{{this._id}}"> {{this.userName}} </option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <p>Aren't you a member? Register <a href="/users/userForm" target="_blank"><b>here</b></a> for free</p>
            </div>
            {{else}}
            <div class="form-group">
                <p>Created by: <a href="/users/{{user._id}}"><b>{{user.userName}}</b></a></p>
            </div>
            {{/unless}}
            <button type="submit" class="btn btn-primary mt-3">{{#if title}}Edit{{else}}Create{{/if}} Movie</button>
        </form>
    </div>
</div>