<h1>{{movie.title}}</h1>

<p>{{movie.genre}}</p>
<p>{{movie.plot}}</p>

<h3>Cast:</h3>
{{#each movie.cast}}
<p>{{this.name}}</p>
{{/each}}

<form method="post" action="/movies/{{movie._id}}/delete">
<button>Delete!</button>
</form>