<h2>Movies details</h2>

<div>
  <p>{{movie.title}}</p>
  <p>{{movie.genre}}</p>
  <p>{{movie.plot}}</p>
  {{#each movie.cast}}
  <p>{{name}}</p>
  {{/each}}
  <form method="post" action="/movies/{{movie.id}}/delete">
    <button>Delete</button>
  </form>
  <p>_______________</p>
</div>

<p> <a href="/movies">All movie</a> </p>
<p> <a href="{{movie._id}}/edit">Edit movie</a> </p>