<h2>movie details</h2>
<ul>
    <li>{{movie.title}}</li>
    <li>{{movie.plot}}</li>
    <li>{{movie.genre}}</li>
    <li>
        <ul>
            {{#each movie.cast}}
            <li>{{this.name}}</li>
            <li>{{this.occupation}}</li>
            <li>{{this.catchPhrase}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
<a href="/movies/{{movie._id}}/delete">delete the awfull movie</a>
<a href="/movies/{{movie._id}}/edit">Edit the movie</a> 