<h2>Movie Details</h2>
<p><strong>Title:</strong> {{movie.title}}</p>
<p><strong>Genre:</strong>  {{movie.genre}}</p>
<p><strong>Plot:</strong>  {{movie.plot}}</p>
<p><strong>Cast:</strong> </p>
<ul>
    {{#each movie.cast}}
    <li>{{this.name}} </li>
    {{/each}}
</ul>

<form action="/movies/{{movie._id}}/delete" method="POST">
    <button type="submit">Delete Movie</button>
</form>

<form action="/movies/{{movie._id}}/edit" method="GET">
    <button type="submit">Edit Movie</button>
</form>
