<p><a href="/">Home</a> | <a href="/movies">All movies</a> | <a href="/movies/new">Add new movies</a></p>
<br>
<h3>{{title}}</h3>
<p><b>Director: </b>{{director}}</p>
<p><b>Year: </b>{{year}}</p>
<p><b>Stars: </b>{{stars}}</p>
<p><b>Sinopsis: </b>{{description}}</p>