<h2>{{title}}</h2>

<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<p>Casting:
    {{#each cast}}
    {{name}}
    {{/each}}
</p>

<a href="/movies/{{_id}}/delete">delete</a>
<a href="/movies/{{_id}}/edit">edit</a>