<h1>Here are all the movies</h1>
<div>
{{#each movies}}
<div>
    <h3>{{this.title}}</h3>
{{!-- <p>{{this.genre}}</p>
    <p>{{this.plot}}</p>
    {{#each this.cast}}
    <p>{{name}}</p>
    {{/each}} --}}
    <a href="/movies/{{this._id}}">See details</a>

</div>

{{/each}}
</div>