<div>
   <a href="/movies/">Movies</a>
    <div>
        <h2>{{title}}</h2>
        <h3>{{genre}}</h3>
        <p>{{plot}}</p>
        <p>{{cast}}</p>
    </div>
    <div>
        <form action="/movies/{{_id}}/delete" method="POST">
            <button type="submit">DELETE</button>
        </form>
    </div>
</div>