

movies/allactormovies
<div>
<h2>{{singleMovie.title}}</h2>
<h4>{{singleMovie.genre}}</h4>
<h4>{{singleMovie.plot}}</h4>
<h4><a href="/movies/allactormovies">{{singleMovie.aStar.name}}</a></h4>
<a href="/movies/editMovies/{{singleMovie._id}}">Edit Movie</a>
</div>
