
<h2>Movie Details</h2>
<div>
<p>
    Title: {{movieDetail.title}}<br>
    Genre: {{movieDetail.genre}}<br>
    Plot: {{movieDetail.plot}}<br>
    Cast: {{movieDetail.cast[0]}}
</p>

</div>

<form action="/movies/{{id}}/delete" method="POST">
<button>Delete</button>
</form>
