<h2>{{movie.title}} <a class="go-back-link" href="/movies/index">&lt; Back to all</a></h2>

<div id="detailed-card">

  <img id="detailed-img" src="{{movie.image}}" alt="{{movie.title}}">

  <div id="movie-details">
    <div><b>Director : </b>{{movie.director}}</div>

    {{#if movie.stars}}
      <div><b>Stars :</b>
        <ul>
        {{#each movie.stars}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      </div>
    {{/if}}

    {{#if movie.description}}
    <div><b>Description :</b>
      <p>{{movie.description}}</p>
    </div>
    {{/if}}

    {{#if movie.showtimes}}
    <div>
      <b>Show times :</b>
      {{#each movie.showtimes}}
        <span>{{this}}</span>|
      {{/each}}
    </div>
    {{/if}}

    <div>
      <a class="delete-link" href="/movies/{{movie._id}}/delete">Delete movie</a>
    </div>

  </div>

</div>
