<div class="title-bar">
    <a href="/">
        <button type="button" class="btn btn-info">Back To Homepage</button>
    </a>
    <h1>Title: {{movie.title}}</h1>
    <a href="/movies/">
        <button type="button" class="btn btn-info">Back To Movie Directory</button>
    </a>
</div>
<hr>
<br>
<div class="movie-row">
    <div class="movie-profile">
        <div class="movie-img-container">
            <img style="background-image" src="{{movie.imgPath}}" class="movie-img" alt="">
        </div>
        <div class="movie-info">
            <p><strong>Genre: </strong>{{movie.genre}}</p>
            <p><strong>Plot: </strong>{{movie.plot}}</p>
            <div class="buttons">
                <a href="/movies/edit/{{movie._id}}">
                    <button class="btn btn-primary btn-md">Edit This Movie</button>
                </a>
                <form action="/movies/delete/{{movie._id}}" method="POST">
                    <button class="btn btn-danger">Delete This Movie</button>
                </form>
            </div>
        </div>
    </div>
</div>