<h2>Movie Details</h2>
<h3>{{movie.title}}</h3>
<p>Celeb: <a href="/celebrities/{{movie.celebrity._id}}">{{movie.celebrity.name}}</a></p>
<p>Genre: {{movie.genre}}</p>
<p>Plot: <q>{{movie.plot}}</q></p>
<img src="{{movie.image}}">
<p>Created By: {{movie.createdBy.username}}</p>
{{!-- {{#if movie.createdByMe}} --}}
<p><a href="/movies/{{movie._id}}/edit">Edit Movie</a></p>
<form action="/movies/{{movie._id}}/delete" method="POST"><button class="btn-delete"">Delete Movie</button></form> 
{{!-- {{/if}} --}}