<h2>{{movie.title}}</h2>
<section>
    <div class="genre">Genre : <strong>{{movie.genre}}</strong></div>
    <p class="plot">{{movie.plot}}</p>
    <ul class="starring">
        <li>Starring...</li>
        {{#each actors}}
        <li><a href="/celebrities/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
</section>