<h2>Details</h2>
<p>title: {{title}}</p>
<p>genre: {{genre}}</p>
<p>plot: {{plot}}</p>
</br>
<a href="/movies/{{id}}/edit">Edit this movie</a>
</br>
<a href="/movies/{{id}}/delete">Delete this movie</a>
</br>
<a href="/movies/">Go back</a>