<h1>Info about Movie {{pickedMovie.title}}</h1>

<p>Name : {{pickedMovie.title}}</p>
<p>occupation : {{pickedMovie.genre}}</p>  
<p>Catch Phrase : {{pickedMovie.plot}}</p>




<p>This movie was actually watched BY : {{pickedMovie.watcher.username}}</p>

<a href="/movies">Get back</a>
