<section>
  <div>
    <h2>{{Movie.title}}</h2>
    <p>{{Movie.genre}}</p>
    <p>{{Movie.plot}}</p>
    <a href="/movies/{{Movie._id}}/edit">EDIT</a>
    <a href="/movies/{{Movie._id}}/delete">DELETE</a>
  </div>
</section>