<div>
  <p>
    Titulo: {{movie.title}} <br>

    Genero: {{movie.genre}} <br>
    
    Argumento: {{movie.plot}}
  </p>


  <a href="/movies/delete/{{movie._id}}" class="btn-add">BORRA LA MOVIE</a>
  <a href="/movies/edit/{{movie._id}}" class="btn-add2">EDITAR LA MOVIE</a>

</div>