<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h2><%= movies.title %></h2>
<p><%= movies.genre %></p>
<p><%= movies.plot %></p>
<a href="/movies/<%= movies._id %>/edit">Edit movie </a>
<form action="/movies/<%= movies._id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

</body>
</html>