<div class="containerr movieShow-container">
  {{#with movie}}
    <h2>{{title}}</h2>
    <p class="genre">{{genre}}</p>
    <p class="plot">{{plot}}</p>
    <a href="/movies/{{_id}}/edit" class="btn btn-success">edit</a>
    <a href="/movies/{{_id}}/delete" class="btn btn-danger">delete</a>
  {{/with}}
</div>
