<ul>
{{#each movie}}
  <li>{{title}}</li>
  <li>{{genre}}</li>
  <li>{{plot}}</li>
  <a href="/show-celeb/{{this.stars._id}}"><li>{{this.stars.name}}</li></a>
{{/each}}
</ul>

<a href="/movie-index">Back to all movies</a>