<h2>MOVIES</h2>

<li>Title: {{movie.title}}</li>
<p>Year: {{movie.year}}</p>
<p>Director: {{movie.director}}</p>
<p>Duration: {{movie.duration}}</p>
<p>Genre: {{movie.genre}}</p>
<p>Rate: {{movie.rate}}</p>
