<h2>Movie detail</h2>

<ul>
    <li>
        <div>
            <h3>{{movie.title}}</h3>
            <p>{{movie.genre}}</p>
            <p>{{movie.plot}}</p>
            <a href="/movies/{{_id}}/edit">Edit this movie</a>
            -
            <a href="/movies/{{_id}}/delete">Delete</a>
        </div>
    </li>
</ul>
