<div class="row">
	<div class="col-12 d-flex justify-content-center align-items-center">
		<h1 class="my-5">{{title}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex flex-column justify-content-center">
		<h2 class="my-3">{{title}}</h2>
		<h3 class="my-3">{{genre}}</h3>
		<p class="my-3">{{plot}}</p>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<a class="my-5 btn btn-dark btn-lg btn-block" href="/movies/{{this.id}}/edit">Edit Movie</a>
	</div>
</div>
<div class="row">
	<div class="col-12 d-flex justify-content-center">
		<a class="my-5 btn btn-dark btn-lg btn-block" href="/movies">Go back</a>
	</div>
</div>
