<h2>Details</h2>

<h3>Name: {{theMovie.title}}</h3>
<h3>Occuption: {{theMovie.genre}}</h3>
<h4>Celebrity: {{theMovie.celebrity.name}}</h4>
<p>Quote: {{theMovie.plot}}</p>

<a href="/movies/{{theMovie._id}}/edit">Edit</a>