<h2>Details about {{this.title}}</h2>

<p>Title: {{this.title}}</p>
<p>Plot: {{this.plot}}</p>
<p>Genre: {{this.genre}}</p>

<p>Celebrities:</p>
    <ul>
{{#each celebrities}}
  <li>
    {{item.[0]}}: {{item.[1]}}
  </li>
{{/each}}
</ul>
    