<h1 class="text-center">Movies Detail</h1>

{{!-- {{}} --}}


<p><strong>Title</strong>: {{movie.title}}</p> 
<p><strong>Genre</strong>: {{movie.genre}}</p> 
<p><strong>Plot</strong>: {{movie.plot}}</p> 

<a href="/movies/{{movie.id}}/edit" class="btn btn-outline-primary">Edit</a>
<a href="/movies/{{movie.id}}/delete" class="btn btn-outline-danger">Delete</a>