<h2>Movie: <b>{{title}}</b></h2>
<p>Genre: <i>{{genre}}</i></p>
<h5>Cast: {{cast}}</h5>
<p>Plot: {{plot}}</p>
<p>Creator:  <a href="/users/{{user._id}}"><b>{{user.userName}}</b></a></p>
<a class="btn btn-success" href="/movies/{{id}}/edit">Edit</a>