<h2>Details about this movie</h2>

<div>
  <p>Title: {{this.title}}</p>
  <p>Genre: {{this.genre}}</p>
  <p>Plot: {{this.plot}}</p>
  <p>Celebrities:
    {{#each celebrities}}
    <span>{{this.name}}</span>
    {{/each}}
  </p>
  <p>Created by: {{this.createdBy.username}}</p>
</div>

<a href="/movies">Back</a>