<div class="col s6 m6 offset-s3 offset-m3">
  <div class="card horizontal grey lighten-5 z-depth-1">
    <div class="card-image">
      <img class="responsive-img"src="{{poster}}" alt="{{title}}">
    </div>
    <div class="stacked">
    <h3>{{title}}</h3><small>{{year}}</small>
    <blockquote>{{plot}}</blockquote>
    <p>{{genre}}</p>
    <div class="card-action">
      <a href="/movies/{{id}}/edit">Edit</a>
      <a href="/movies/{{id}}/delete">Delete</a>
    </div>
    </div>
</div>
</div>
