<div class="ugly-container"><h2>DAVANTAGE SUR NOTRE CÉL☺BRE CÉLÉBRITÉ {{movie.title}}</h2>
  <div>
  À SAVOIR : <span>{{movie.title}}</span> s'appelle <span>{{movie.title}}</span>. Connu·e pour son activité de <span>{{movie.genre}}</span>, <span>{{movie.title}}</span> est aussi une personne très sage.
  <aside>«{{movie.plot}}»</aside>
  </div>
  <nav>
      <ul>
        <li><a href="/movies/all">Tous nos films épatants</a></li>
        <li><a href="/movies/new">Ajouter un autre épatant film</a></li>
      </ul>
  </nav>
</div>