<h2 class="titles">All Actors</h2>

<p>Movie Title: {{movie.title}}</p>
<p>Movie Genre: {{movie.genre}}</p>
<p>Movie Plot: {{movie.plot}}</p>
<p>Movie Actors: <a href="/celebrities/details/{{movie.actors._id}}">{{movie.actors.name}}</a></p>

