<div class="celeb-padding">
    <div class="details">
        <h2>Details: {{oneMovie.title}} </h2>
    </div>
    <div class="row">
        <div class="col s12 m12 l6 push-l3 card-details-container">
            <div class="card blue-grey darken-1 card-details">
                <div class="card-image-details" style="background-image: url({{oneMovie.imgPath}})">

                </div>
                <div class="card-content white-text">
                    <span class="card-title">{{oneMovie.title}}</span>
                    <p>{{oneMovie.genre}}</p>
                    <p>{{oneMovie.plot}}</p>
                    <p>{{oneMovie.actor}}</p>
                </div>
                <div class="card-action">
                    <a href="/movies">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>