<h2>Movie Details</h2>


    <h3>{{name}}</h3>
    <p>genre: {{genre}}</p>
    <p>plot: '{{plot}}'</p>
    <p>actor: {{this._id}}</p>


<p><a href="/movies/{{this._id}}/edit">Edit</a></p>
<p><b><a href="/">( Back home )</a></b></p>
