<h2>Movie Details</h2>
<h3>{{movie.title}}</h3>
<p>{{movie.genre}}</p>
<q>{{movie.plot}}</q>

<a href="/movies/{{movie._id}}/edit">Edit Movie</a>
<form action="/movies/{{movie._id}}/delete" method="POST"><button>Delete Movie</button></form> 