<h2>Movie Details</h2>
<p>Title: {{title}}</p>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<a href="/movies/{{_id}}/delete"><button>Delete</button></a>
<a href="/movies/{{_id}}/edit"><button>Edit</button></a>