<h2>{{movie.title}} <a class="go-back-link" href="/movies/index">&lt; Back to all</a></h2>

<div id="detailed-card">

  <img id="detailed-img" src="{{movie.image}}" alt="{{movie.title}}">

  <div id="movie-details">
    <div><b>Director : </b>{{movie.director}}</div>

    <div><b>Stars :</b>
      <ul>
      {{#each movie.stars}}
        <li>{{this}}</li>
      {{/each}}
      </ul>
    </div>

    <p>{{movie.description}}</p>

    <div>
      <b>Show times :</b>
      {{#each movie.showtimes}}
        <span>{{this}}</span>|
      {{/each}}
    </div>

  </div>

</div>
