<div class="show-more">
  <img class="movie-img" src="{{poster}}" alt="{{title}} poster">
  <div class="movie-block"> 
    <h1>{{title}}</h1>
    <h3>{{genre}}</h3>
    <p>"{{plot}}"</p>
  </div>
</div>
<button type="button"><a href="/movies/">back</a></button>