<div class="container">
    <h2>Show</h2>
    <div class="row align-items-center">
        <div class="col-md-5">
            <img class="card-img-top movie-img" src="{{image}}" alt="{{title}}">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{genre}}</h6>
                <p class="card-text">{{plot}}</p>
            </div>
        </div>
    </div>
</div>