<h3> {{movie.title}}</h3>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>
<form action="/movies/{{movie.id}}/delete" method="post">
<button type="submit">Delete </button>
</form>
<form action="/movies/{{movie.id}}/edit" method="get">
<button type="submit">Edit</button>
</form> 
<a href="/movies">Back to movies</a>