{{#if movie}}
    <p>Título: {{movie.title}}</p>
    <p>Género: {{movie.genre}}</p>
    <p>Sinópsis: {{movie.plot}}</p>
    <form action="/movies/{{movie._id}}/edit">
        <button type="submit">Edit </button>
    </form>
    <form action="/movies/{{movie._id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
{{/if}}
<a href="/movies">Movies</a>