<h2>Movie detail of {{result.title}}</h2>

<ul>
    <li>Genre: {{result.genre}}</li>
    <li>Plot: {{result.plot}}</li>
</ul>


<a href="/movies/{{result._id}}/edit">EDIT </a>

<a href="/movies/{{result._id}}/delete">DELETE </a>