<h1>Movie's detail:</h1>
<hr>

<br>
<h2>{{title}}</h2>
<hr>

<p><b>Genre: </b>{{genre}}</p>
<p><b>Plot: </b>{{plot}}</p>

<form action="/movies/edit/{{_id}}">
  <input type="submit" value="Edit!">
</form>

<form action="/movies/delete" method="POST">
  <input type="hidden" name="id" value="{{_id}}">
  <input type="submit" value="Delete!">
</form>
<p><a href="/movies">Return movies</a></p>