<h2>{{movie.title}}</h2>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>
<a href="/movies"><button>Back to Movies</button></a>
<a href="/movies/{{movie._id}}/edit">EDIT</a>
<a href="/movies/{{movie._id}}/delete">DELETE</a>