<section class="displayInfo details">
  <h2>{{title}}</h2>
  <h3>{{genre}}</h3>
  <p>{{plot}}</p>
  <div class="form">  
    <form action="/movies/{{_id}}/delete" method="POST">
      <input type="hidden" name="id" class="text" value="{{_id}}">
      <button type="submit" class="delete"><i class="far fa-trash-alt"></i></button>
    </form>
    <form action="/movies/{{_id}}/edit" method="POST">
      <input type="hidden" name="id" class="text" value="{{_id}}">
      <button type="submit" class="edit"><i class="far fa-edit"></i></button>
    </form>
  </div>
</section>