
<div class="celebrities-all">

<div class="all-content movies-content">


{{#if edited}}
<h3>{{movie.title}} has been updated!</h3>
{{/if}}


<h2>{{movie.title}}</h2>

<h4>Genre: {{movie.genre}}</h4>

<p>{{movie.plot}}</p>

<div class="btn-container">

<p class="btn"><a href="/movies">Go back</a></p>

<form action="/movies/{{movie._id}}/delete" method="POST">
<input class="btn submit red" type="submit" value="Delete Movie">
</form>

<form action="/movies/{{movie._id}}/edit" method="GET">
<input  class="btn submit green" type="submit" value="Edit Movie">
</form>

</div>
</div>
</div>
