<h2>{{title}}</h2>

<div class="movie item">
    <p><strong>Name:</strong> {{title}}</p>
    <p><strong>Occupation:</strong> {{this.genre}}</p>
    <p><strong>Plot:</strong> {{this.plot}}</p>
    <a href="/movies">Return to Home</a> - <a href="/movies/{{this._id}}/edit">Edit</a>
</div>