<h2>{{selectedMovie.title}}</h2>

<dir>
    <p>Title: {{selectedMovie.title}}</p>
    <p>Genre: {{selectedMovie.genre}}</p>
    <p>Plot: {{selectedMovie.plot}}</p>
</dir>
<a href="/movies/{{selectedMovie.id}}/edit">Edit movie</a>
<a href="/movies">Go back</a>