<div>
<h1>Title: {{theMovie.title}}</h1>
<hr>
<br>
<p><strong>Genre: </strong>{{theMovie.genre}}</p>

<p><strong>Plot: </strong>{{theMovie.plot}}</p>

<div class="buttons">
<a href="/movies/edit/{{theMovie._id}}"><button class="btn btn-primary btn-md">Edit This Movie</button></a>
<form action="/movies/delete/{{this._id}}" method="POST">
<button class="btn btn-danger btn-md">Delete This Movie</button>
</form>
</div>
</div>