<h2 class="page-title">{{movie.title}}</h2>

<div id="entity-detail">
    <h3>Title: <span>{{movie.title}}</span></h3>
    <h3>Genre: <span>{{movie.genre}}</span></h3>
    <h3>Plot: <span>{{movie.plot}}</span></h3>
</div>
<a href="/movies/{{movie._id}}/edit">Edit</a>

<a href="/movies">Return to Movies Home</a>