<div class="container">
 <div class="single-movie-box">
        <div class="s-m-img">
          <img src={{movie.image}} alt="movie" />
        </div>
        <div class="s-m-content">
          <h1>{{movie.title}}</h1>
          <a href="/celebrities/{{mmovie.celebrity._id}}">
          <h3>Celebrity: {{movie.celebrity.name}}</h3>
          </a>
          <h3>Genre: {{movie.genre}}</h3>
          <p>{{movie.plot}}</p>
        </div>
      </div>
</div>