<h2>Update the movie: {{name}}</h2>


<form action="/movies/{{_id}}/edit" method="post">

    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" value="{{name}}" />

    <label for="genre-input">Genre:</label>
    <input type="text" name="genre" id="genre-input" value="{{genre}}" />

    <label for="plot-input">Plot:</label>
    <input type="text" name="plot" id="plot-input" value="{{plot}}" />

    <select name="actor" id="actor" value="{{this.name}}">
        {{#each myCelebrities}}
        <option value=" {{this._id}}"> {{this.name}}</option>
        {{/each}}
    </select>

    <button type="submit">Save changes</button>

</form>