


<h1>
{{theCeleb.name}}  
</h1>

<h2>
    Occupation:  {{theCeleb.occuptation}}
</h2>

<h3>
   Catch Phrase:  {{theCeleb.catchPhrase}}
</h3>


<a href="/celebrities"> <button>Back</button></a>
<a href="/celebrities/{{theCeleb._id}}/edit"><button>Edit This Celebrity</button> </a>


<form action="/celebrities/{{theCeleb._id}}/delete" method="POST">
    <button>Delete This</button>
</form>

