<div>
  <h2>{{this.name}}</h2>
  <p>Occupation: {{this.ocupation}}</p>
  <p>Catch Phrase: {{this.catchPhrase}}</p>
  <div>
    <a href="/edit-celebrity/{{this._id}}">Edit</a>  
    <a href="/delete-celebrity/{{this._id}}" class="text-danger">Delete</a>
  </div>

  <div>
    <a href="/celebrities">Back</a>
  </div>
</div>