<h1>Edit {{celeb.title}}</h1>


<form action="/celebrities/{{celeb._id}}/update" method="POST">


  <label for="">Name:</label>
  <input type="text" name="name" value="{{celeb.name}}">

  <label for="">Occuptation:</label>
  <input type="text" name="occuptation" value="{{celeb.occuptation}}">

  <label for="">Catch Phrase:</label>
  <input type="text" name="catchPhrase" value="{{celeb.catchPhrase}}">


  <button type="submit">Save Changes</button>


</form>