<div>
  <h1>Celeeebrities</h1>
  <h3>Click on the celeeebrity </h3>


  <ul>
    {{#each allcelebrities}}
    <li>
      <p>
        <a href="/celebrities/{{this._id}}">{{this.name}}</a>
      </p>
      {{!-- {{name}}

      {{ocupation}}

      {{catchPhrase}} --}}
    </li>
    {{/each}}
  </ul>
</div>