<h2>Celebrities Details</h2>

<p>Name: {{celebrities.name}}</p>
<p>Occupation: {{celebrities.occupation}}</p>
<p>catchPhrase: {{celebrities.catchPhrase}}</p>

<a href="/edit-celebrity/{{celebrities._id}}">Edit</a>
<a href="/delete-celebrity/{{celebrities._id}}">Delete</a>