<i><a href="/celebrities">BACK</a></i>

<h1>{{celebrity.name}}</h1>
<hr>
<img width="500px" src="{{celebrity.imagePhrase}}" alt="{{celebrity.name}}">
<h2>{{celebrity.occupation}}</h2>
<i style="font-size: 24px">"{{celebrity.catchPhrase}}"</i>

<hr>