<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h1>Eliminar Personaje {{theCelebrity.name}}</h1>
    </div>

    <div class="col-md-6">

      <form action="/celebrities/delete?celebrityId={{theCelebrity._id}}" method="post">
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" type="text" class="form-control" id="name-input" value="{{theCelebrity.name}}">
        </div>

        <div class="form-group">
          <label for="occupation-input">Ocupacion</label>
          <input name="occupation" type="text" class="form-control" id="occupation-input"
            value="{{theCelebrity.occupation}}">
        </div>

        <div class="form-group">
          <label for="frase-input">Frase Celebre</label>
          <textarea name="catchPhrase" class="form-control" id="frase-input">{{theCelebrity.catchPhrase}}</textarea>
        </div>

        <button type="submit" class="btn btn-dark">Eliminar definitivamente al Personaje</button>

      </form>
    </div>

  </div>
</div>