<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar celebridad {{name}}</h1>

            <form action="/celebrity/edit/{{_id}}" method="post">

                <div class="form-group">
                    <label>name</label>
                    <input name="name" type="text" class="form-control" value="{{name}}">
                </div>

                <div class="form-group">
                    <label>occupationn</label>
                    <input name="occupation" type="text" class="form-control" value="{{occupation}}">
                </div>

                <div class="form-group">
                    <label>catchPhrase</label>
                    <input name="catchPhrase" type="text" class="form-control" value="{{catchPhrase}}">
                </div>

                <button type="submit" class="btn btn-dark">Guardar edición</button>
                <a href="/celebrities/{{_id}}"></a>
            </form>
        </div>
    </div>
</div>