
<a href="/celebrities">go back</a>

<br>
<br>

name: {{name}}
<br>
occupation: {{occupation}}
<br>
catch phrase: {{catchPhrase}}
<br>
<br>
<br>
<a href="/celebrities/delete/{{_id}}"><button>Delete Celebrity</button></a>
<br>
<br>
<br>
<a href="/celebrities/update/{{_id}}"><button>Update Celebrity</button></a>
