<h2>Edit this celebrity  {{name}}</h2>
<form action="/celebrities/{{_id}}" method="POST">
<label for="artists">Edit celebrity name</label>
<input type="text" name='name' placeholder="{{name}}">

<label for="occupation">Edit celebrity occupation</label>
<input type="text" name='occupation' placeholder="{{occupation}}">

<label for="catchPhrase">Edit celebrity catchprase</label>
<input type="text" name='catchPhrase' placeholder="{{catchPhrase}}">
<button type="submit">Edit Celebrity</button>
</form>