<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if msg}}

<body onload="M.toast({html: '{{msg}}'})">

</body>
{{/if}} {{#if error_msg}}

<body onload="M.toast({html: '{{error_msg}}'})">

</body>
{{/if}} {{#if error}}

<body onload="M.toast({html: '{{error}}'})">

</body>
{{/if}}

<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s5">
        <a href="/celebrities/index" class="btn waves-effect waves-light ">Celebrities
          <i class="material-icons right">star</i>
        </a>
      </div>
      <div class="col s5 push-s3">
        <a href="/movies/index" class="btn waves-effect waves-light ">Movies
          <i class="material-icons right">local_movies</i>
        </a>
      </div>
    </div>
      <div class="row">

<div class="row">
<div class="col s8">

        <a href="/signup" class="btn waves-effect waves-light "> Signup</a>
        <a href="/login" class="btn waves-effect waves-light "> Login</a>
        <a href="/profile" class="btn waves-effect waves-light "> Profile</a>
</div>
</div>


      </div>
  </div>
</div>