
<h1>Awesome Movie Database</h1>
<p>Welcome to my awesome movie database</p>

 {{#each movies}}
 <form action="/delete/{{_id}}" method="GET">
<label for="title">Title: </label><h2 name="title" id="title">{{title}}</h2>
<h3>Genre: {{genre}}</h3>
<h4>Plot: {{plot}}</h4>
<h4>Rating: {{rating}}</h4>
<p>Id: {{_id}}</p>
<button type="submit">Delete</button>

 </form>
{{/each}}


<a href="/new">Create new movie</a>

<form action="/search" method="get">
  <label for="title">Title: </label>
  <input type="text" name="title"/>
  <input type="submit" value="Submit"/>
</form>


<a href="/celebrities">Celebrities</a>

