<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  {{#if errorMessage}}
    <div>
        {{errorMessage}}
    </div>
  {{/if}}
  {{#if successMessage}}
    <div>
        {{successMessage}}
    </div>
  {{/if}}
<nav>
<a href="/celebrities">See Celebrities</a>
<a href="/movies">See Movies</a>
{{#if currentUser}}

<a href="/celebrities/new">Add New Celebrity</a>
<a href="/movies/new">Add new Movie</a>
<a href="/secret">Secret Page</a>
<h3>Hello {{currentUser.username}}</h3>
<form action="/logout" method="POST">
<button type="submit">Logout</button>
</form>

{{else}}
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
{{/if}}




</nav>





  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
</body>
</html>