<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  {{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}}

  {{#if successMessage}}
  <div>{{successMessage}}</div>
  {{/if}}

  <nav>
    <a href="/">Home</a>
    <a href="/celebrities">All Celebs</a>
    <a href="/movies">All movies</a>
    {{#if currentUser}}
    Welcome, {{currentUser.username}}!
    {{else}}
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
    {{/if}}
    <a class="logout" href="/logout">Log out</a>
  </nav>

  {{#if theUser.isAdmin}}
  <a href="/create-new-account">Create New User</a>
  <a href="/active-users">See All Users</a>
  {{/if}}

  <div id="body">
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>