<h1 class="header">Movie Details Page</h1>
<div class="celebrity">
<h2>{{thatMovie.title}}</h2>
<p>Genre: {{thatMovie.genre}}</p>
<p>Plot: {{thatMovie.plot}}</p>
<a class ='starName' href="/celebs/details/{{thatMovie.star._id}}">
    <p>Star: {{thatMovie.star.name}}</p>
</a>
<img style="400px" src="{{thatMovie.image}}" alt="No image">
</div>