<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Editar Pelicula {{title}}</h1>

            <form action="/movies/edit/{{_id}}" method="post">

                <div class="form-group">
                    <label>title</label>
                    <input name="title" type="text" class="form-control" value="{{title}}">
                </div>

                <div class="form-group">
                    <label>genre</label>
                    <input name="genre" type="text" class="form-control" value="{{genre}}">
                </div>

                <div class="form-group">
                    <label>plot</label>
                    <input name="plot" type="text" class="form-control" value="{{plot}}">
                </div>

                <button type="submit" class="btn btn-dark">Guardar edición</button>
                <a href="/movies/{{_id}}"></a>
            </form>
        </div>
    </div>
</div>