<h2>All movies are here:</h2> <br> <br>


{{#each theMovies}}

<div>
    <a href="/movies/{{this.id}}">
        {{this.title}}
    </a>
    <p>
        ID: {{this.id}}
    </p>
    <form action="/movies/{{this._id}}/edit" method="GET">
        <button>Edit</button>
    </form>
    <form action="/movies/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
</div>
<hr>

{{/each}}
<a href="/">Home</a>
<br>
<a href="/movies/new">Add a new Movie</a>