<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1>Editar película {{theMovie.name}}</h1>
    </div>

    <div class="col-md-6">

      <form action="/movies/edit?movId={{theMovie._id}}" method="post">
        <div class="form-group">
          <label for="name-input">Nombre</label>
          <input name="name" type="text" class="form-control" id="name-input" value="{{theMovie.name}}">
        </div>

        <div class="form-group">
          <label for="celebrity-input">Celebrity</label>
          <input name="celebrity" type="text" class="form-control" id="celebrity-input" value="{{theMovie.celebrity}}">
        </div>

        <div class="form-group">
          <label for="genre-input">Género</label>
          <input name="genre" type="text" class="form-control" id="movie-input" value="{{theMovie.genre}}">
        </div>

        <div class="form-group">
          <label for="plot-input">Escenario</label>
          <textarea name="plot" class="form-control" id="plot-input">{{theMovie.plot}}</textarea>
        </div>

        <button type="submit" class="btn btn-dark">Actualizar película</button>

      </form>
    </div>

  </div>
</div>