<h2>{{config.title}}</h2>

<form action="{{config.action}}" method="POST">
  <input type="text" name="name" id="" placeholder="Name" value="{{celebrity.name}}">
  <input type="text" name="occupation" id="" placeholder="Occupation" value="{{celebrity.occupation}}">
  <input type="text" name="catchPhrase" id="" placeholder="Phrase" value="{{celebrity.catchPhrase}}">
  <input type="submit" value="{{config.button}}">
</form>

<a href="/celebrities">Regresar</a>