{{#if name}}
<h2> Editing {{name}}</h2>
{{else}}
<h2> Creating your Star</h2>
{{/if}}

<form 
{{#if _id}}
action =""
{{else}}
action ="/celebrities/new"
{{/if}} 
method ="POST">
    <div>
        <label for "">
            Name:
            <input type="text" name="name" value="{{name}}">
        </label>
    </div>
    <div>
        <label for "">
            Occupation:
            <input type="text" name="occupation" value ="{{occupation}}">
        </label>
    </div>
    <div>
        <label for "">
            Quote:
            <textarea name="catchPhrase" id="" cols="30" rows="10">{{catchPhrase}}</textarea>
        </label>
    </div>
    <button type="submit"> save </button>
</form>

