<h2>{{config.title}}</h2>

<form action="{{config.action}}" method="POST">
  <input type="text" name="title" id="" placeholder="Name" value="{{movie.title}}">
  <input type="text" name="genre" id="" placeholder="Genre" value="{{movie.genre}}">
  <input type="text" name="plot" id="" placeholder="Plot" value="{{movie.plot}}">
  <input type="submit" value="{{config.button}}">
</form>

<a href="/movies">Regresar</a>