<h1>Perfil</h1>

<h2>Name: {{name}}</h2>
<h2>Ocupation: {{occupation}}</h2>
<h2>Phrase: {{catchPhrase}}</h2>

<a href="/celebrities/{{_id}}/edit">Upate</a>
<a href="/celebrities/{{_id}}/delete">Delete</a>
<a href="/celebrities">Regresar</a>