
<h1>Celebrity Facts</h1>

Name: <h2>{{celebrities.name}}</h2><br>
Occupation: <h2>{{celebrities.occupation}}</h2><br>
Catchphrase:<h2>{{celebrities.catchphrase}}</h2><br>
<img class="image" src="{{celebrities.image}}" alt="" /><br>

<a class = "button" href="/celebrities">Go back</a>
<a class = "button" href="/celebrities/{{celebrities._id}}/delete">Delete</a>
<a class = "button" href="/edit-celebrity/{{celebrities._id}}">Edit</a>

