<h2>{{title}}</h2>

<ul>
  <li>
    {{celebrity.name}}
    {{celebrity.occupation}}
    {{celebrity.catchPhrase}}
  </li>
</ul>

<ul>
  <li>
    {{movy.title}}
    {{movy.genre}}
    {{movy.plot}}
  </li>
</ul>