<h2>Celebrity chosen:</h2>
  <h3>Title: {{this.title}}</h3>
  <h3>Genre: {{this.genre}}</h3>
  <h3>Plot: {{this.plot}}</h3>
  <a href="/movies/{{this._id}}/edit">Edit</a>
  <a href="/movies/{{this._id}}/delete">Delete</a>