<h1>peliculas</h1>

<h2>Title: {{title}}</h2>
<h2>Genre: {{genre}}</h2>
<h2>Plot: {{plot}}</h2>

<a href="/movies/{{_id}}/edit">Upate</a>
<a href="/movies/{{_id}}/delete">Delete</a>
<a href="/movies">Regresar</a> 