<h2>Celebrity chosen:</h2>
  <h3>Name: {{this.name}}</h3>
  <h3>Occupation: {{this.occupation}}</h3>
  <h3>Catch Phrase: {{this.catchPhrase}}</h3>
  <a href="/celebrities/{{this._id}}/edit">Edit</a>
  <a href="/celebrities/{{this._id}}/delete">Delete</a>