<br>
<h1>Welcome to your DashBoard, {{user.firstName}} {{user.lastName}}</h1>

<div>
<h6>Bio</h6>

<p>
    {{user.bio}}
</p>

</div>

<h2>Movies Donated by {{user.username}}</h2>
        <ul>
        {{#each films}}
        <li>
            <a href="/movies/{{this._id}}">
            {{this.title}}
            </a>
        </li>

{{/each}}
</ul>


<button class="celebBtn"><a href="/celebrities">Click here to View all Celebrities!</a></button><br>
<button class="celebBtn"><a href="/celebrities/new">Click here to Create a New Celeb!</a></button>
<br><br><br>
<button class="celebBtn"><a href="/movies">Click here to View all Movies!</a></button><br>
<button class="celebBtn"><a href="/movies/new">Click here to Create a New Movie!</a></button>