<div class="container">
    <div class="card">
        <h1>Update this movie!</h1>
        <form action="/movies/{{data._id}}/edit" method='post'>
            <label for="title">Title: </label>
            <input type="text" id='title' name='title' required="true" value="{{data.title}}">
            <br>
            <label for="genre">genre: </label>
            <input type="text" id='genre' name='genre' required="true" value="{{data.genre}}">
            <br>
            <label for="plot">plot: </label>
            <textarea type="text" id='plot' name='plot' required="true">{{data.plot}}</textarea>
            <br>
            <a href="/movies/{{data._id}}"><button>Cancel</button></a>
            &nbsp; &nbsp; &nbsp;<br>
            <button type='submit' class='go-btn'>Save!</button>
        </form>
    </div>
</div>