<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h2>Editar {{title}}</h2>

            <form action="/movies/{{_id}}" method="post">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input name="title" type="text" class="form-control" id="title" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="genre">Genero</label>
                    <input name="genre" type="text" class="form-control" id="genre" value="{{genre}}">

                </div>
                <div class="form-group">
                    <label for="plot">Trama</label>
                    <input name="plot" type="text" class="form-control" id="plot" value="{{plot}}">
                </div>


                <button type="submit" class="btn btn-dark">Editar pelicula</button>
            </form>
        </div>
    </div>
    <a class="btn btn-dark non-radius" href="/movies">Volver</a>