<div class="container">
    <h2>{{moviesTitle}}</h2>
    <h3>Edit your movie!</h3>
    <form method="POST" action="/movies/{{id}}/edit">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
        </div>
        <div class="form-group">
            <label>Genre</label>
            <input type="text" class="form-control" name="genre" value="{{genre}}">
        </div>
        <div class="form-group">
            <label>Plot</label>
            <input type="text" class="form-control" name="plot" value="{{plot}}">
        </div>
        <button type="submit" class="btn btn-warning btn-md">Let's edit the movie!</button>

    </form>
</div>