<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h2 class="display-3">Edit {{title}}!</h2>

            <form action="/movies/edit/{{_id}}" method="POST">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{title}}">
                </div>

                <div class="form-group">
                    <label for="genre">Genre:</label>
                    <input type="text" class="form-control" name="genre" id="genre" value="{{genre}}">
                </div>

                <div class="form-group">
                    <label for="plot">Catch Phrase:</label>
                    <input type="text" class="form-control" name="plot" id="plot" value="{{plot}}">
                </div>

                <button type="submit" class="btn btn-dark">Edit the Movie!</button>
            </form>
        </div>
    </div>
</div>