<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1><span>Edit</span> {{title}}</h1>

            <form method="POST" action="/movies/edit/{{id}}">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="title" value="{{title}}">
                </div>
                <div class="form-group">
                    <label>Occupation</label>
                    <input type="text" class="form-control" name="genre" value="{{genre}}">
                </div>
                <div class="form-group">
                    <label>Catch Phrase</label>
                    <input type="text" class="form-control" name="plot" value="{{plot}}">
                </div>

                <button type="submit" class="btn btn-dark">Edit</button>
                <a href="/movies" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>



</div>