<!DOCTYPE html>
<html>
  <head>
    <title> Movies </title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <h1> Movies </h1>

    <p class="add">Add your favorite Movie</p>
    <a class="create" href="/movies/new">Add One!</a>
    <ul>
      <% movies.forEach((movie) => { %>
        <li>
          <h2> Title: <span><i>"<%= movie.title %>"</i></span> </h2>
          <h2>Genre: <span><%= movie.genre %></span> </h2>
          <h2>Plot: <span><%= movie.plot %></span> </h2>

          <a class="edit-btn" href="/movies/<%= movie._id %>/edit">Edit</a>

          <form action="/movies/<%= movie._id %>/delete" method="post">
            <button class="delete-btn" tyle="margin-top: 15px;" type="submit">Delete</button>
          </form>

        </li>
      <% }) %>
    </ul>


  </body>
</html>
