<h2> List of movies - <a href="/">Return to index</a></h2>  
<a href="/movies/new">Add a movie</a>

<ul>
    {{#each movies}}
    <li>
        <h2>{{title}}</h2>
        <p>{{genre}}</p>
        <p>{{plot}}</p>
        <a href="/movies/{{_id}}">See more details</a>
        <a href="/movies/edit/{{_id}}">Edit movie</a>
        <a href="/movies/delete/{{_id}}">Delete movie</a>
    </li>
    {{/each}}
</ul>