<h2>DETAILS</h2>


<div class= "container">
  {{!-- <div class="poster">
    <img src="{{oneFilm.image}}" alt="" />
  </div> --}}
  <div class="textContainer">
  <div>
    <h2>Title: {{oneMovie.title}}</h2>
  </div>
  <div>
    <h3>Genre: {{oneMovie.genre}}</h3>
  </div>
  <div>
    <h4>Plot: </h4>
    <p>{{oneMovie.plot}}</p>
  </div>
  <div>
    <h4>Cast: {{oneMovie.cast}}</h4>
    <ul>
      <li>{{oneMovie.name.[0]}}</li>
      <li>{{oneMovie.name.[1]}}</li>
      <li>{{oneMovie.name.[2]}}</li>
    </ul>
  </div>
  {{!-- <div>
    <p>{{oneFilm.description}}</p>
  </div>
  <div>
    <p>{{oneFilm.showtimes.[0]}} | {{oneFilm.showtimes.[1]}} | 
        {{oneFilm.showtimes.[2]}} | {{oneFilm.showtimes.[3]}} | 
        {{oneFilm.showtimes.[4]}}</p>
  </div>
  </div> --}}
  <br /><br /><br />
  <navbar class="navbar">
    <ul>
      <li><a href="http://localhost:3000/celebrities">Go Back</a></li>
    </ul>
  </navbar>

</div>