<section class="content">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h2>{{title}}</h2>

      <hr>

      <ul>
        <li><strong>Genre:</strong> {{genre}}</li>
        <li><strong>Plot:</strong> {{plot}}</li>
      </ul>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <a class="btn edit-btn" href="/movies/{{_id}}/edit">Edit movie</a>
        <a class="btn remove-btn" href="/movies/{{_id}}/delete">Remove {{title}}</a>
        <a class="btn return-btn" href="/movies">Go back</a>
      </div>

    </div>
  </div>
</section>
