<h2> Here is what <%= movie.title %> is all about...</h2>

<ul>
  <li> <%= movie.title %> </li>
  <li> <%= movie.genre %> </li>
  <li> <%= movie.plot %> </li>
</ul>
<a href="/movies/<%= movie._id%>/edit">
  <button type="button">Edit</button>
</a>
