<h2>Movie Details</h2>

<div class = "movie-details">
<h4>{{movie.title}}</h4>
<h4>{{movie.genre}}</h4>
<h4>{{movie.plot}}</h4>

<a href="/movies/{{movie._id}}/edit">Edit Movie Details</a>
<br>
<br>

<a href="/movies">Go back to Movies</a>
</div>

<div class = "movie-reviews">

{{#each movie.reviews}}

<h4>{{this.reviewer}}</h4>
<p>{{this.content}}</p>

<form action="/movies/{{../movie._id}}/reviews/delete/{{@index}}" method="post">
<button>Delete This Review</button>
</form>

<a href="/movies/{{../movie._id}}/reviews/edit/{{@index}}">Edit this review</a>

{{/each}}


</div>