<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="title">
        <h2>Edit {{movie.title}}</h2>
      </div>
    </div>
  </div>
  <form action="/movie/{{movie._id}}/edit" method="post">
  <div class="row">
    <div class="col-sm-6">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{movie.title}}">
    </div>
    <div class="col-sm-6">
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" value="{{movie.genre}}">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="plot">Catch Phrase:</label>
      <input type="text" id="plot" name="plot" value="{{movie.plot}}">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="large button">
        <button type="submit">Edit</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="large button">
        <a href="/movie">Go back to My Movies</a>
      </div>
    </div>
  </div>
  </form>
</div>