<h2> Celebrities </h2>
<a href="/celebrities/new">Add A New Celeb</a>

<% celebrities.forEach((celebrity) => { %>
  <div class="line">
    <h2>
      <a href="celebrities/<%=celebrity.id%>">
        <%= celebrity.name %>
      </a>
    </h2>

    <form action="/celebrities/<%= celebrity.id %>/delete" method="POST">
      <button type="submit" name="button">Delete <%= celebrity.name %></button>
    </form>

    <a href="celebrities/<%=celebrity.id%>/edit">Edit <%= celebrity.name %></a>
  </div>
<%  }) %>
