<h2>{{celebItem.name}}</h2>
<p>Occupation: {{celebItem.occupation}}</p>
<p>Catch Phrase: {{celebItem.catchPhrase}}</p>

<a href="/celebrities/{{celebItem._id}}/edit">Edit {{celebItem.name}}'s information</a>
<p><a href="/celebrities/index">return to celebrity list</a></p>