<h2><%=celebrity.name%></h2>
  <p>
    <ul>
      <li>Ocupation: <%=celebrity.ocupation%></li>
      <li>Catch Phrase: <%=celebrity.catchPhrase%></li>
    </ul>
   <br/>
   <img src="<%=celebrity.profileImage%>"</li>
  </p>

  <a href="/celebrities/<%= celebrity._id %>/edit">Edit</a>
  <br/>

<a href="/celebrities">Go back</a>
