<!--layout.hbs-->
<div class="container-fluid celebrities-details">
    <div class="celebrities-inner-details">
        <h2>{{name}}'s details</h2>
        <ul>
            <li>name: <span class="detail">{{name}}</span></li>
            <li>occupation: <span class="detail">{{occupation}}</span></li>
            <li>{{name}} always says <span class="detail">"{{catchPhrase}}"</span></li>
        </ul>
    </div>
</div>