
Hello editing



<h1>Eddit {{celeb.name}} to The Library</h1>


<form action="/celebrities/update/{{celeb._id}}" method="POST">

    <label for="">Name</label>
    <input type="text" name="celebName" value="{{celeb.name}}">

    <label for="">Description</label>
    <input type="text" name="occupation" value="{{celeb.occupation}}">


    <label for="">ctchPhrase</label>
    <input type="text" name="ctchPhrase" value="{{celeb.catchPhrase}}">
  
    <label for="">imageSrc</label>
    <input type="text" name="image" value="{{celeb.image}}">

  

    <label for="">Movies In</label>
    <select name="movies">
        {{#each movies}}
      <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
    </select>

      <button>Edit</button>

</form>
