<h2>Edit {{name}} details</h2>

<form action="/celebrities/{{this.id}}/edit" method="POST">
 <label for="name">Full Name</label>
 <input value="{{name}}" id="name" name="name" type="text"> 
</p>

<p>
  <label for="occupation">Occupation</label>
  <input value="{{occupation}}" id="occupation" name="occupation" type="text">
</p>

<p>
<label for="catchPhrase">Catch Phrase</label>
 <textarea id="catchPhrase" name="catchPhrase" type="text">{{catchPhrase}}</textarea> 
</p>

<input type="submit" value="Update">
</form>