<h2>{{header}}</h2>

<ul>
    {{#each celebrities as |celebrity|}}
        <li>
            <a href="/celebrities/{{celebrity._id}}">{{celebrity.name}}</a>
            <a href="/celebrities/{{celebrity._id}}/edit">Editar</a>
            <form action="/celebrities/{{celebrity._id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    {{/each}}
</ul>