<a href="javascript:history.back()">Go back</a>

<h2>This is {{this.title}}'s page</h2>

<ul>
    <li><b>Title:</b> {{this.title}}</li>
    <li><b>Genre:</b> {{this.genre}}</li>
    <li><b>Plot:</b> {{this.plot}}</li>
    <li><b>Cast:</b> {{this.cast.name}}</li>
    <form action="/movies/{{this._id}}/delete" method="POST">
        <button type="submit">Delete movie from list</button> 
    </form>
    <form action="/movies/{{this._id}}/edit" method="GET">
        <button type="submit">Edit movie details</button> 
    </form>
</ul> 