
<% if(celebrity.isNew) { %>
  <form action="/celebrities" method="POST">
<% } else { %>
  <form action="/celebrities/<%= celebrity._id %>" method="POST">
<% }%>


  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= celebrity.name %>">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation" value="<%= celebrity.occupation %>">

  <label for="catchphrase">Catch phrase</label>
  <textarea type="text" name="catchphrase" value="<%= celebrity.catchPhrase %>" id="catchphrase"><%= celebrity.catchPhrase %></textarea>

  <button type="submit">Save</button>
</form>

<% if(celebrity.errors) { %>
  <% for (let error in celebrity.errors){ %>
      <p class="error"><%= celebrity.errors[error].message %></p>
  <% } %>
<% } %>
