<h2>{{name}}</h2>
<p>
{{occupation}}
</p>
<p>{{catchPhrase}}</p>

   <a href="/celebrities/{{_id}}/edit">Edit</a>

  <a href="/movies/{{movie}}">View movies</a>

  <a href="/celebrities">Go to celebrity page</a>
