<h2>{{title}}</h2>
<p> {{genre}}</p>
<p>{{plot}}</p>

<br>

  <a href="/movies/{{_id}}/edit">Edit</a>
 <a href="/movies/{{this._id}}/delete">Delete</a>

 <a href="/celebrities">Go to celebrity page</a>
  