 <ul>
    <li>
      <h2>{{{celeberty.name}}}</h2>
      <p>Occupation: {{{celeberty.occupation}}}</p>
      <p>Catch-Phrase: {{celeberty.catchPhrase}} </p>
    </li>
    
</ul>

 <a class= "button" href="/celeberties/">Go back</a>
      <a class= "button" href="/celeberties/{{celeberty._id}}/delete">Delete</a>
      <a class= "button" href="/celeberties/{{celeberty._id}}/edit-celeberty">Edit</a>