<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit - <%= celeb.name %></title>
</head>
<body>

  <h2>Edit <%= celeb.name %>'s information'</h2>

  <form action="/celebrities/<%= celeb._id %>/edit" method="POST">
    <ul>
      <li>
        <input type="text" name="name" value="<%= celeb.name %>">
      </li>
      <li>
        <input type="text" name="occupation" value="<%= celeb.occupation %>">
      </li>
      <li>
        <input type="text" name="catchPhrase" value="<%= celeb.catchPhrase %>">
      </li>
    </ul>
    <button type="submit">Submit</button>
  </form>

  <br>
  <br>

  <a href="/celebrities">Return to the list?</a>

  <br>
  <br>

  <a href="/celebrities/<%= celeb._id %>">Return to <%= celeb.name %>'s information page?</a>

</body>
</html>
