{{#with movie}}

<h2>Edit movie: {{title}}</h2>
<form action="/movies/{{_id}}" method="POST">
  <label for="">Title:</label>
  <input type="text" name="title" value="{{title}}">

  <label for="">Genre:</label>
  <input type="text" name="genre" value="{{genre}}">

  <label for="">Plot:</label>
  <input type="text" name="plot" value="{{plot}}">

  <button type="submit">EDIT</button>


</form>
{{/with}}