<h2>{{header}}</h2>

<ul>
    {{#each movies as |movie|}}
        <li>
            <a href="/movies/{{movie._id}}">{{movie.title}}</a>
            <a href="/movies/{{movie._id}}/edit">Editar</a>
            <form action="/movies/{{movie._id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    {{/each}}
</ul>