<div class="movie-details-container">
  <h2>Title: {{title}}</h2>
  <p>
    Genre: {{genre}}<br>
    Plot: {{plot}}
  </p>
 <form action="{{this.id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  <form action="{{this.id}}/edit">
    <button type="submit">Edit</button>
  </form>
  <a href="/celebrities">Back</a>
</div>