

<dive class="list-celebrity">
  <a href='/movies'>Go Back</a>
  <h1>{{oneMovie.title}}</h1>
  
  
  <img src="{{oneMovie.imgPath}}" alt=""> 
  
  <img src="{{oneMovie.image}}" alt="Movie Poster">
  
  <br>
  <h2>genre: {{oneMovie.genre}}</h2>
  <h2>plot: {{oneMovie.plot}}</h2>
  <h2>Actors In Movie:</h2>
    
    <ul>
      {{#each oneMovie.actors}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
   
  <br>
  <br>
  <form action="/movies/edit/{{oneMovie._id}}" method="POST">
    <button>Edit This movie</button>
  </form>
  
</dive>