<h1>Details about: {{theCat.name}}</h1>

 <p>{{theCat.name}} specializes on: {{theCat.occupation}}</p>
 <p>{{theCat.name}}'s famous phrase is: <em>"{{theCat.catchPhrase}}"</em></p>

 <img src="{{theCat.photo}}" alt="cat photo">
 {{#if theCat.movies}}
 <p>Movies:</p>
    {{#each theCat.movies}}
    <li><a href="/movies/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
 {{/if}}
<p>
  <a  class="btn" href="/celebrities/edit/{{theCat._id}}">Edit This Celebrity's Info</a>
  <form action="/celebrities/delete/{{theCat._id}}" onclick="return confirm('Are you sure you want to delete this cat?');" method="POST">
      <button  class="btn" id="btn-delete">Delete This Celebrity</button>
  </form>
</p>

<a class="btn" href="/celebrities/">Go back to list</a>