<h1>Details about: {{theMovie.title}}</h1>

<div class="in-line">
  <img class="imag" src="{{theMovie.image}}" alt="movie cover">
</div>

<div class="in-line">

  <h2>Title: {{theMovie.title}}</h2>
  <p>Staring: {{theMovie.stars}}</p>

  <h3>By: {{theMovie.director}}</h3>


  <p>{{theMovie.description}}</p>

  <strong>Show times:</strong>
  {{#each theMovie.showtimes}}
    <li>{{this}}</li>

  {{/each}}
</div>


<p>
  <a  class="btn" href="/movies/edit/{{theMovie._id}}">Edit this movie's info</a>
  <a class="btn" href="/movies/">Go back to movie list</a>
  <form action="/movies/delete/{{theMovie._id}}" onclick="return confirm('Are you sure you want to delete this movie?');" method="POST">
      <button  class="btn" id="btn-delete">Delete This Movie</button>
  </form>
</p>