<h2>Details of {{celeb.name}}</h2>

<p>Name: {{celeb.name}}<br>Ocupation: {{celeb.occupation}}<br>Catch Phrase: {{celeb.catchPhrase}}</p>

<p><a href="/celebrities/edit/{{celeb._id}}">Editar</a></p>

<p><a href="/celebrities"><- Back</a></p>