<body class="lista">
  <h2>{{title}}</h2>
  <h3>Género: {{genre}}</h3>
  <h3>Trama: {{plot}}</h3><hr><br>
  <a href="/movies/" class="button">Back</a>
  <a href="/movies/delete/{{this._id}}" class="button">Eliminar película</a>
  <a href="/movies/edit/{{this.id}}" class="button">Actualizar película</a>
</body>