<h1>Acerca de {{title}}</h1>

<h2>
  <div class="celeb">{{title}}</div>
</h2>
<h2>
  El género: <div class="celeb">{{genre}}</div>
</h2>
<h2>
  La trama: <div class="catchPhrase">{{plot}}</div>
</h2>

<a href="/movies/{{id}}/edit"><button>Editar</button></a>
<a href="/movies"><button>Vuelve a la lista</button></a>