<!-- layout.hbs -->

<h2>Editing {{title}}</h2>
<form action="/movies/{{id}}" method="post">
    <label>title</label>
    <input type="text" value="{{title}}" name="title" id="title">
    <label>genre</label>
    <input type="text" value="{{genre}}" name="genre" id="genre">
    <label>plot</label>
    <input type="text" value="{{plot}}" name="plot" id="plot">
    <button type="submit">Edit</button>
</form>