<h2><%=movie.name%></h2>
  <p>
    <ul>
      <li>Genre: <%=movie.genre%></li>
      <li>Plot: <%=movie.plot%></li>
    </ul>
   <br/>
   <img src="<%=movie.profileImage%>"</li>
  </p>

  <a href="/movies/<%= movie._id %>/edit">Edit</a>
  <br/>

<a href="/movies">Go back</a>
