<h2><%=movie.name%></h2>
  <p>
    <ul>
      <li>Ocupation: <%=movie.ocupation%></li>
      <li>Catch Phrase: <%=movie.catchPhrase%></li>
    </ul>
   <br/>
   <img src="<%=movie.profileImage%>"</li>
  </p>

  <a href="/movies/<%= movie._id %>/edit">Edit</a>
  <br/>

<a href="/movies">Go back</a>
