<h1> movierity details </h1>
<p>
title: <strong><%=movie.title%></strong>
</p>
<p>
genre: <strong><%=movie.genre%></strong>
</p>
<p>
Plot: <strong><%=movie.plot%></strong>
</p>
<a href="/movies/<%=movie.id%>/edit">Edit</a> | <a href="/movies/<%=movie.id%>/delete">Delete</a>