<u><h2 style=text">Nombre del perdedor</h2></u>
<h3>{{name}}</h3>
<br>
<h2>A que se dedica el perdedor</h2>
<h3>{{occupation}}</h3>
<br>
<h2><strong>frase estupida del perdedor</strong></h2>
<h3>"{{catchPhrase}}"</h3>


<form action="/{{_id}}/delete" method="POST" >
        <button type="submit">Delete</button>
<button><a href="/{{_id}}/edit">Editalo</a></button>
<br>
<br>
<h3><a href="/celebrities">Volver a la lista</a></h3>