<a href="/movies">Back</a>
<h1>Title: {{title}}</h1>
<p>Genre: {{genre}}</p>
<p>Plot: {{plot}}</p>
<a href="/movies/{{id}}/edit">Edit</a>
<form action="/movies/{{id}}/delete" method="POST">
    <button>Delete</button>
</form>