<div>
    <h2>Movie</h2>
    <p>{{mov.title}}</p>
    <p>{{mov.genre}}</p>
    <p>{{mov.plot}}</p>
    <a href="/movies/{{mov._id}}/edit">EDIT</a>
    <a href="/movies/{{mov._id}}/delete">DELETE</a>
</div>