<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{this.name}} </h5>
        <p class="card-text">{{this.catchPhrase}}</p>

        <a class="btn btn-primary" href="/celebrities/{{this.id}}">Movie Info</a>
        <a class="btn btn-danger" href="/celebrities/{{this.id}}/delete">Delete</a>
        <a class="btn btn-warning" href="/celebrities/{{this.id}}/edit">Update </a>
      </div>
</div>
