<h2>Edit {{movie.title}}</h2>

<form action="/movies/{{movie.id}}" method="POST">

  {{! title }}
  <p>
    <label>
      Title:
      <input type="text" name="title" value="{{movie.title}}">
    </label>
  </p>

  {{! genre }}
  <p>
    <label>
      Genre:
      <input type="text" name="genre" value="{{movie.genre}}">
    </label>
  </p>

  {{! plot }}
  <p>
    <label>
      Plot:
      <input type="text" name="plot" value="{{movie.plot}}">
    </label>
  </p>

  {{! cast }}
  <p>
    <label>
      Cast:
      <select multiple name="cast">
        {{#each celebrities}}
        <option value="{{id}}" {{#if incast}}selected{{/if}}>{{name}}</option>
        {{/each}}
      </select>
    </label>
  </p>

  <button>Update this movie</button>
</form>