<h2>Details</h2>

<ul>
    <li>
        <div>
            <h3>{{celebrity.name}}</h3>
            <p>{{celebrity.catchPhrase}}</p>
            <p>{{celebrity.occupation}}</p>
            <a href="/celebrities/{{_id}}/edit">Edit this celebrity</a>
            -
            <a href="/celebrities/{{_id}}/delete">Delete</a>
        </div>
    </li>
</ul>