<h2>Celebrities Page</h2>
 <a href="/celebrities/new">
     <button>
        Add New Celebrity
     </button>
  </a>
  <br>
  

{{#each celebrityList}} 
 <ul>  
   <a href="/celebrities/{{this._id}}">
       <li>{{this.name}}</li>
   </a>
   
   <li>{{this.occupation}}</li>
   <li>{{this.catchPhrase}}</li>

   <a href="/celebrities/{{this._id}}/edit">
   <button>Edit this celebrity</button>
   </a>   
   <br>
   <a href="/celebrities/{{this._id}}/delete">
   <button>Delete this celebrity</button>
   </a>
 </ul>

{{/each}}

