






<dive class="list-movies">
  <a href='/movies'>Go Back</a>
  <h1>{{oneMovie.title}}</h1>
  
  <img src="{{oneMovie.image}}" alt="Movie Poster">
  <br>
  <h2>Director: {{oneMovie.director}}</h2>
  <h3>Stars</h3>

<ul>
    {{#each oneMovie.stars}}
      <li>{{this}}</li>
    {{/each}}
</ul>

  <p>{{oneMovie.description}}</p>
</dive>


