<h1>{{header}}</h1> 

<p>
  <strong> What {{celebrity.name}} does?: {{celebrity.occupation}}</strong>
</p>


<h3>You will be hear ever say these...</h3>
<h2>
  << {{celebrity.catchPhrase}} >>
</h2>

<p>
<img src="{{celebrity.image}}">
</p>

<a href="/celebrities" class="button4" style="background-color:#84f14e">Back to celebrities</a>
