<h2><%= title %></h2>

<p>Artistic Name: <%= celebrities.name %> </p>
<p>Occupation: <%= celebrities.ocupation %></p>
<p>Catch Phrase: <%= celebrities.catchPhrase %></p>

<a href="/celebrities/<%= celebrities._id%>/edit">Edit</a>
