<h2>Everything You Want to Know About <%= results.name %> </h2>
<ul>
    <li>Name: <%= results.name %> </li>
    <li>Occupation: <%= results.occupation %> </li>
    <li>Catch Phrase: "<%= results.catchPhrase %>" </li>
</ul>

<a href="/celebrities/<%= results._id %>/edit">Do You Want to Edit Me?</a>