<div>
  <h1>{{movie.title}}</h1>
  <p>
    <hr/> Genre: {{movie.genre}}
  </p>
  <hr />
  <p>
    <hr/> {{celebrity.name}}{{celebrity.lastName}}
    <p>{{celebrity.birthday}}</p>
    <p>{{celebrity.nationality}}</p>
    <hr />
  </p>
  </p>
  <hr/>
  <p>
    plot: {{movie.plot}}
  </p>
  <hr />
</div>
